/* WDDS Custom Stylesheet */

/* WDDS Site Outline */

/* 
------- Table of Contents ------

I.       General CSS
II.     Home Panel CSS
            i.  Panel Content
III.      Title [Home] Panel CSS
            i.  Navigation Bar Contents
            ii. Animated Scroll Arrow
IV.      About Panel CSS
            i.   Image Title Bar
            ii.  3 Column Information
V.       Services Panel CSS
            i.   Image Title Bar
            ii.  Panel Background Image
            iii. Accordion Slider & Content

VI.      Porfolio Panel CSS
VII.     Quote Panel CSS
VIII.    Support Panel CSS
IX.      Footer

------------------------------------ 
*/

/* ------- General CSS ------- */
/*Fontawesome Iconfont*/

@charset "UTF-8";

/*==Typography=*/
body {
  font: 16px "Source sans pro", sans-serif;
}

.sec-main h1,
.sec-main p,
.sec-everywhere h1,
.sec-everywhere p,
.sec-features h1,
.sec-features p,
footer h1,
footer p {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .sec-main h1,
  .sec-main p,
  .sec-everywhere h1,
  .sec-everywhere p,
  .sec-features h1,
  .sec-features p,
  footer h1,
  footer p {
    text-align: left;
  }
}

h1,
h2 {
  margin: 0;
}

h1 {
  font-size: 2em;
}

p {
  font-size: 1.125em;
  font-weight: 300;
  line-height: 1.625em;
}

.sec-main h2 {
  margin: .9em 0;
  font-size: 1.75em;
  font-weight: 200;
  line-height: 1.5em;
  text-align: center;
}

.features-post h1 {
  font-size: 1.5em;
}

.features-post p {
  font-size: 1em;
}

footer h1 {
  font-size: 2.125em;
}

/*==Layout==*/
html,
body,
.wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

section {
    height: 100vh;
    width: 100%;
    min-height: 480px;
}

.container {
  margin: 0 auto;
  padding: 6.625em 0;
  max-width: 60em;
  /*960px*/
}


/*==Main==*/
.sec-main {
    position: relative;
    background: url(../images/tile3.jpg);
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;
    height: 100%;
    color: #fff;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.center {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    position: absolute;
    top: 4em;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 20vh auto
}

.logo {
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 25vw;
    height: 25vh;
    background: url(../images/logo.png) no-repeat;
    background-size:contain;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
  .sec-main br {
    display: none;
  }
}


.nav_expand {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.75);
    z-index: 2000;
}

.nav {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: center;
    position: relative;
    z-index: 2000;
}

.nav a {
    display: block;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    padding: 1.975em;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-bottom: .35em solid transparent;
    transition: border-bottom .25s;
}
.nav a:focus, .nav a:hover {
    border-bottom: 0.35em solid #2ebcea;
}

.home_icon{
    background: url(../images/logo.png) no-repeat;
    background-position: center;
    background-size:contain;
    height: 3em;
    margin: -0.9em 0em;
    text-align: center;
    width: 3em;
}

@media screen and (max-width: 55em) {
.logo{
    height: 7em;
    width: 9em;
    }
    
#primarynav a{
    visibility: hidden;    
    }

.home_icon{
    margin: -1em auto;
    }
    
.nav_expand {
    background:  rgba(0, 0, 0, 0.75) url(../images/wddsmenu.png);
    background-repeat: no-repeat;
    background-size: 2em;
    background-position: 95% 50%;
    height: 4em;
    padding-top: 4em;
    overflow: hidden;
    -webkit-flex-flow: column;
    flex-flow: column;
    justify-content:space-around;
    -webkit-transition: height 1s; /* Safari */
    transition: height 1s;
    transition-timing-function: ease;
  }

.nav_expand:focus, .nav_expand:hover {
    height: 40em;
}
    
.nav_expand:focus #primarynav a, .nav_expand:hover #primarynav a {
    visibility: visible;
    }
    
nav{
        -webkit-flex-flow: column;
        flex-flow: column;
        justify-content: space-around;
    }
nav a{
    text-align: center;
    width: 20em;
    }
}


@media screen and (max-width: 60em) {
 {
    margin-bottom: 4em;
    height: 570px;
    text-align: left;
    background-position: bottom center;
    background-size: 55%;
  }
}

@media screen and (max-width: 30em){
    .center h2{
    font-size: 4vh;
    }
}
/*==About==*/

.sec-about {
    background: url(../images/macbook.png) no-repeat center right;
    background-size: 689px 390px;
    background-position: 111% 52%;
    height: 100vh;
}

#about_content{
    padding-top: 0em;
}

.about_title{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: 0.1em;
    margin-top: 1.8em;
    text-transform: uppercase;
}

.about_p{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: 0.03em;
    padding-top: 1em;
}

@media screen and (max-width: 1156px) {
  .sec-about {
    background-position: 155% 52%;
  }
}
@media screen and (max-width: 60em) {
  .sec-about {
    margin-bottom: 4em;
    text-align: left;
    background-position: 50% 95%;
    background-size: 55%;
  }
    .about_title{
    font-size: 4vw;
    }
    .about_p{
    font-size: 1.8vh;
    letter-spacing: 0.02em;
    padding-top: 1.5em;
    text-align: left;
    }
}

@media screen and (max-width: 950px) {
  .sec-about {
    background-size: 65%;
    background-position: 50% 85%;  
  }
    #about_content{
    padding-top: 0em;
}
}


@media screen and (max-width: 700px) {
  .sec-about {
    background-size: 75%;
      
  }
}
@media screen and (max-width: 500px) {
  .sec-about {
      background-size: 85%;
      background-position: 50% 100%;
    }
    .about_title{
        font-size: 7vw;
    }
}

@media screen and (max-width: 60em) {

.sec-about .col-2:first-child {
    margin: 5% auto;
    padding-right: 1em;
    font-size: 1em;
    /*18px*/
    }
}

@media screen and (max-width: 60em) {
  .sec-about .col-2:first-child {
    float: none;
    width: 80%;
    text-align: center;
    height: 300px;
}
    
}

@media screen and (max-width: 50em) and (max-height: 750px){
    .about-title{
    
    }

}


/*==Everywhere==*/


.sec-everywhere {
    min-height: 704px;
    background: #2ebcea;
    color: #fff;
}

.row h1{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding-top: 0em;
    text-align: center;
    text-transform: uppercase;
}

.row-list h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.25em;
    padding-top: 3em;
    text-transform: uppercase;
}

.row-list p {
    display: block;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    height: auto;
    line-height: 0em;
    padding-top: 1em;
    text-align: center;
}

.sec-everywhere .row:nth-child(2) p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    padding: 3em 10.5em 3em 10.5em;
}

.everywhere-list {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-between;
    flex-direction: row;
}

.row-list {
  text-align: center;
}

.everywhere-list li {
  width: 33.3333333%;
}

.everywhere-list li .col-3 {
  width: 100%;
}

.sec-everywhere .img-container {
    display: block;
    height: 206px;
}

.sec-everywhere img {
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}


@media screen and (max-width: 979px) {
    
    .sec-everywhere {
        height: auto;
    }
    
    .everywhere-list {
        -webkit-flex-flow: column;
        flex-flow: column;
        flex-direction: column;
    }
    
       .everywhere-list li {
        display: block;
        margin: 2em auto;
        width: 100%;
    }
    
    .sec-everywhere .img-container {
        display: block;
        height: 206px;
        margin: 0 auto;
        padding: 0em;
        width: 20em;
    }
    
}

@media screen and (max-width: 768px) {
    
 .sec-everywhere .img-container {
     margin: 0em auto;
 }

.sec-everywhere .row:nth-child(2) p {
    padding: 3em 2em 3em 2em;
    text-align: center;
}
}


/*==Task Management==*/

.sec-task-mngmt {
  min-height: 581px;
  background: #f6f9fa;
}

.sec-task-mngmt .col-2:first-child {
  float: right;
  margin: 7% 0;
}

.col-2 h1{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: left;
}

.col-2 p{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    padding-top: 1em;
}

.col-2 ul{
    padding-top: 1em;
    padding-left: 3em;
}

.col-2 ul li{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    padding: 1em 0em;
    text-transform: uppercase;
    list-style-type:circle;
}

.sec-task-mngmt .col-2:last-child {
    background: url(../images/iphone6.png) no-repeat top left;
    height: 80vh;
    padding: 0em;
    margin-top: -1em;
    
  /*iPhone*/
}


@media screen and (max-width: 768px) {
  .sec-task-mngmt {
    text-align: left;
  }

  .sec-task-mngmt br {
    display: none;
  }
}

.sec-task-mngmt .col-2:last-child {
  float: left;
  background: url(../images/iphone6.png) no-repeat top left;
  background-size: contain;
  /*iPhone*/
}

@media screen and (max-width: 768px) {
  .sec-task-mngmt .row {
    background: #f6f9fa;
    float: left;
  }
    .col-2 p{
    font-size: 1.8vh;
    }
    
    .col-2 ul li{
    font-size: 1.8vh;
    }
}

@media screen and (max-width: 30em) {
  .sec-task-mngmt .col-2:last-child {
    float: left;
    width: 100%;
    height: 365px;
    background: url(../images/iphone6.png) no-repeat top center;
    background-size: 70%;
  }
    
.col-2 h1{
        font-size: 7vw;
    }
  .sec-task-mngmt .col-2:first-child {
    margin: 2em auto;
    padding: 0 3em;
  }
}

/*==Features==*/

#sec-features{
    background: #fff;
}

.flexservices{
    height: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: flex-start;
}


.sec-features #img {
    border: none;
    height: 8em;
    width: 8em;
    margin: 0 auto;
}

.planning{
    background: url(../images/planning.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

.content{
    background: url(../images/contentcreation.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.webdesign{
    background: url(../images/webdesign.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.development{
    background: url(../images/development.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.launch{
    background: url(../images/testinglaunch.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.support{
    background: url(../images/support.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

.features-post{
    height: 17em;
    width: 20em;
}

.features-post h1{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    padding-top: 2em;
    text-transform: uppercase;
    margin: -2em 0em -2em;
}

.features-post p {
    font-family: 'Lato', sans-serif;
    font-size: 1.8vh;
    font-weight: 300;
    padding: 4em 0.5em 0em;
    text-align: left;
}

.features-post img {
    border: none;
    display: block;
    margin: 3em auto;
}

@media screen and (max-width: 30em) {
.flexservices{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column;
    flex-flow:  column;
}

}

@media screen and (max-width: 768px) {
  .features-post img {

  }
}

@media screen and (max-width: 30em) {
  .features-post img {

  }
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 900px) {

}
/*==Footer==*/

footer {
  min-height: 320px;
  background: #243139;
  color: #fff;
}

footer h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin-top: -2em;
    margin-bottom: 1em;
}

.contactinfo {
    height: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

.contactinfo div{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin: 0em 3.5em;
    text-align: center;
}

.contactinfo div h6{
    margin: 1em auto;
    text-transform: uppercase;
}

.footertag{
    bottom: -5em;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    position: relative;
    text-align: center;
}


@media screen and (max-width: 768px) {
  footer h1 {
    margin: 0 auto 1em auto;
    width: 80%;
  }

  footer p {
    width: 80%;
  }
}
footer .row:last-child p {
  text-align: center;
}

footer a {
  margin-left: .5em;
  padding: 1em 0;
  width: 3.25em;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border: .1em solid;
  border-radius: 50%;
  transition: color .25s;
}
footer a:focus, footer a:hover {
  color: #32444f;
}
footer a:active {
  color: #161e23;
}

