/* WDDS Custom Stylesheet */

/* WDDS Site Outline */

/* 
------- Table of Contents ------

I.       General CSS
II.     Home Panel CSS
            i.  Panel Content
III.      Title [Home] Panel CSS
            i.  Navigation Bar Contents
            ii. Animated Scroll Arrow
IV.      About Panel CSS
            i.   Image Title Bar
            ii.  3 Column Information
V.       Services Panel CSS
            i.   Image Title Bar
            ii.  Panel Background Image
            iii. Accordion Slider & Content

VI.      Porfolio Panel CSS
VII.     Quote Panel CSS
VIII.    Support Panel CSS
IX.      Footer

------------------------------------ 
*/

/* ------- General CSS ------- */
@charset "UTF-8";

section {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
.block {background: white; padding: 60px; width:820px; margin:0 auto; text-align:left}

/* ------- End of General CSS ------- */

/* ------- TITLE Panel------- */

/* Screen Settings */
.lander {
    background-attachment: fixed;
    background-image: url(../images/maintile.png);
    background-position:top center;
    background-size: cover;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    -webkit-animation: fadein ease-in-out 2s; /* Safari and Chrome */
       -moz-animation: fadein ease-in-out 2s; /* Firefox */
        -ms-animation: fadein  ease-in-out 2s; /* Internet Explorer */
         -o-animation: fadein ease-in-out 2s; /* Opera */
            animation: fadein ease-in-out 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* End of Screen Settings */
body{
font-family: 'Yanone Kaffeesatz', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
h1{
font-family: 'Yanone Kaffeesatz', sans-serif;
font-weight: 100;
}
h2{
font-family: 'Yanone Kaffeesatz', sans-serif;
}

span {
font-family: Sans-serif;
color: wheat;
left: 0;
right: 0;
margin: auto;
font-weight: 200;
font-size: 40px;
}

.fk{
position: relative;
width: 100%;
text-align: center;
}

.stitle{
position: relative;
width: 100%;
text-align: center;
}

.landercenter{
position:absolute;
top:76px;
margin:0;
height:91.2vh;
width:100vw;
left:0;
margin: 0 auto;
right:0;
}

.title{
align-content: center;
position: fixed;
top: 0;
left: 8vw;
width: 100px;
height: 50px;
vertical-align: middle;
z-index: 400;
}

.title h4{
color: white;
font-size: 1.8em;
padding: 10px;
text-decoration: none;
}

.landercenter h1{
font-size: 4vw;
color: whitesmoke;
position: relative;
top:18vh;
text-align: center;
}

.quotebtn{
position: relative;
top: 18vh;
}

.landercenter h3{
color: whitesmoke;
font-size: 3vw;
font-weight: 300;
opacity: 1 !important;
padding-top: 50px;
position: relative;
text-align: center;
top:18vh;
}

.thumbsup{
font-size: 5vw;
}

.menu {
cursor: pointer;
display: block;
margin: auto;
width: 35px;
height: 30px;
left: 85vw;
margin: 0px;
opacity: 1 !important;
position: fixed;
top: 23px;
transition: all 0.5s;
-moz-transition: all 0.5s;
-webkit-transition: all 0.5s;
z-index: 400;
}

.menu span {
border-top: 2px solid white;
width: 100%;
position: absolute;
}

.menu .menu-top, .menu .menu-middle, .menu .menu-bottom {	
-moz-transition: all 0.5s;
-webkit-transition: all 0.5s;
transition: all 0.5s;
 }

 .menu .menu-top-click, .menu .menu-middle-click, .menu .menu-bottom-click {
  	-moz-transition: all 0.5s;
  	-webkit-transition: all 0.5s;
	transition: all 0.5s;
 	backface-visibility: hidden;
}

.menu .menu-top {
	top: 0px;
}

.menu .menu-middle {
	top: 10px;
}

.menu .menu-bottom {
	top: 20px;
}

.menu:hover .menu-middle  {
	top: 12px;
}

.menu:hover .menu-bottom {
	top: 24px;
}

.menu .menu-top-click {
	-webkit-transform: rotate(50deg);
    transform: rotate(50deg) translate3d(5px,10px,0);
    top: 0px;
   border-color: #F5D76E;
}

.menu .menu-middle-click {
	opacity: 0;
   border-color: #F5D76E;
}

.menu .menu-bottom-click, .menu:hover .menu-bottom-click  {
	-webkit-transform: rotate(-410deg); 
    transform: rotate(-410deg) translate3d(5px,-10px,0);
    top: 20px;
   border-color: #f5d76e;
}

.compbanner{
  background:  #30363d;
  color: white;
  opacity: 0.85;
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height:75px;
  text-align: left;
  vertical-align: middle;
  z-index: 2;
}

.navmenu {
background: #30363d;
opacity: 0.85;
color: white;
display:none;
flex-wrap: wrap;
padding-bottom: 10px;
padding-top: 20px;
position: fixed;
top:75px;
transition: 0.5s;
left: 0;
width:100%;
z-index:600;
}

.navmenu nav{
text-align: center;
}

.navmenu nav ul li {
font-family: 'Yanone Kaffeesatz', sans-serif;
list-style: none;
display: inline-block;
text-align: center;
width: 150px;
opacity: 1;
padding: 20px;
text-align: center;
border: 2px solid #f5d76e;
margin: 0px 10px 10px 10px ;
transition: 0.5s;
}


.navmenu nav ul li a {
font-family: 'Yanone Kaffeesatz', sans-serif;
font-size:22px;
text-decoration:none;
color: white;
transition: 0.5s;
opacity: 1 !important;
}

navmenu:hover{
display:inline-flex;
}


.navmenu nav ul li:hover { 
background: #f5d76e;
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
color: black;
opacity: 1 !important;
transition: 0.5s;
}


.navmenu nav ul li a:hover { 
 color: black;
 transition: 0.5s;
  opacity: 1 !important;
}

/*------Beginning of ABOUT CSS------*/

#abouttitle{
padding-top: 150px;
padding-bottom:40px;
}

.atitle{
padding-top: 30px;
position: relative;
width: 100%;
text-align: center;
}
.atitle span{
font-size: 5vw;
}

#aboutarticles{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
padding-bottom: 100px;
}

#aboutarticles article{
font-family:;
padding: 0px 20px;
width:300px;
}

#welcomearticle{
text-align: right;
font-size: 24px;
}

#sidearticle{
text-align: left;
font-size: 14px;
}
/*------End of ABOUT CSS------*/


/*------Services CSS---------*/
.parallax-one {
text-align: center;
padding-top: 100px; 
padding-bottom: 100px; 
overflow: hidden; 
position: relative; 
width: 100%; 
background-image: url(
"../images/homescreen_medium.jpg");
background-attachment: fixed; 
background-size: cover; 
-moz-background-size: cover; 
-webkit-background-size: cover; 
background-repeat: no-repeat; 
background-position: bottom center;
}

#services {
padding-top: 50px;
padding-bottom:40px;
}

.set_size_section1 {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: inline-block;
}

.process span{
font-size: 5vw;
}

.process h1{

}

/*****************************************************************************************************************/


#services .article_center2 article {
    text-align: center;
    flex: 0 0 25%;
    cursor: pointer;
    box-sizing: border-box;
    text-transform: none;
    margin: 25px;
    z-index: 1;
    -webkit-transition: opacity 0.4s linear, -webkit-transform 0.4s ease-in-out, -webkit-box-shadow 0.4s ease-in-out;
    -moz-transition: opacity 0.4s linear, -moz-transform 0.4s ease-in-out, -moz-box-shadow 0.4s ease-in-out;
    -o-transition: opacity 0.4s linear, -o-transform 0.4s ease-in-out, -o-box-shadow 0.4s ease-in-out;
    -ms-transition: opacity 0.4s linear, -ms-transform 0.4s ease-in-out, -ms-box-shadow 0.4s ease-in-out;
    transition: opacity 0.4s linear, transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

#services article img, #services article h3, #services article p {
    -webkit-transition: opacity 0.2s linear, text-shadow 0.5s ease-in-out, color 0.5s ease-in-out;
    -moz-transition: opacity 0.2s linear, text-shadow 0.5s ease-in-out, color 0.5s ease-in-out;
    -o-transition: opacity 0.2s linear, text-shadow 0.5s ease-in-out, color 0.5s ease-in-out;
    -ms-transition: opacity 0.2s linear, text-shadow 0.5s ease-in-out, color 0.5s ease-in-out;
    transition: opacity 0.2s linear, text-shadow 0.5s ease-in-out, color 0.5s ease-in-out;
}

#services article.blur {
   -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.9, M12=0, M21=0, M22=0.9, SizingMethod='auto expand')";
    -webkit-transform:scale(0.9);
    -moz-transform:scale(0.9);
    -o-transform:scale(0.9);
    transform:scale(0.9);
    opacity:0.8;
    /*zoom:0.9;*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
}

#services article.active {
    -webkit-transform:scale(1.05);
    -moz-transform:scale(1.05);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.08, M12=0, M21=0, M22=1.08, SizingMethod='auto expand')";
    -o-transform:scale(1.05);
    transform:scale(1.05);
    z-index:100;
    /*zoom:1.08;*/
    opacity:1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
}

#services article.active img, #services article.active p, #services article.active h3 {
    opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
}

#services article.blur img{
    text-shadow:0px 0px 10px rgba(51, 51, 51, 0.9);
    color:rgba(51, 51, 51, 0);
    opacity:0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
}

#services article.blur h3{
    text-shadow:0px 0px 10px rgba(0, 0, 0, 0.9);
    color:rgba(100, 100, 100, 0.3);
    opacity:0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
}

#services article.blur  p{
    text-shadow:0px 0px 10px rgba(51, 51, 51, 0.9);
    color:rgba(100, 100, 100, 0.3);
    opacity:0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
}

.services_h2 {
  color: black;
  margin-bottom: 5px;
  margin-top: 20px;
  font-size: 40px;
    text-align: center;
}

.services_p {
font-size: 15px;
}

.section1_article {
    text-align: center;
}

.section1_article h3 {
font-family: 'Yanone Kaffeesatz', sans-serif;
text-transform: uppercase;
color: black;
margin-bottom: 3%;
font-size: 25px;
}

.section1_article img {
    margin-bottom: 0px;
}

.section1_article p {
font-family: 'Yanone Kaffeesatz', sans-serif;
word-spacing: 1px;
text-align: left;
  /* font-family: 'Roboto Slab', sans-serif; */
  font-size: 16px;
  }

.article_center2 {
    margin: 0 auto;
    width: 80%;
    /* align-items: flex-start; */
    width: 80%;
    flex-direction: row;
    justify-content: center;
    display: flex;
    margin-top: 30px;
    /* flex-flow: row wrap; */
    /* justify-content: space-between; */
    flex-direction: row;
    flex-wrap: wrap;
}

/* SECTION LOADING */

.is-hidden {
visibility: hidden;
}

.bounce-inInverse {
-webkit-animation: cd-bounce-2-inverse 1s;
-moz-animation: cd-bounce-2-inverse 1s;
-ms-animation:cd-bounce-2-inverse 1s;
-o-animation:cd-bounce-2-inverse 1s;
animation: cd-bounce-2-inverse 1s;
}


@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateY(200px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateY(-20px);
  }

  100% {
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateY(200px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateY(-20px);
  }

  100% {
    -moz-transform: translateY(0);
  }
}

@-o-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -o-transform: translateY(200px);
  }

  60% {
    opacity: 1;
    -o-transform: translateY(-20px);
  }

  100% {
    -o-transform: translateY(0);
  }
}

@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }

  60% {
    opacity: 1;
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 650px){
  #services .article_center2 article {
      flex: 0 0 100%;
      margin-bottom: 7%;
  }

}
/*------End of Services CSS------*/



/*------Beginning of PORTFOLIO CSS------*/



/*------End PORTFOLIO CSS------*/

#portfoliotitle{
padding-top: 150px;
padding-bottom:40px;
}