/* WDDS Custom Stylesheet */

/* WDDS Site Outline */

/* 
------- Table of Contents ------

I.       General CSS
II.     Home Panel CSS
            i.  Panel Content
III.      Title [Home] Panel CSS
            i.  Navigation Bar Contents
            ii. Animated Scroll Arrow
IV.      About Panel CSS
            i.   Image Title Bar
            ii.  3 Column Information
V.       Services Panel CSS
            i.   Image Title Bar
            ii.  Panel Background Image
            iii. Accordion Slider & Content

VI.      Porfolio Panel CSS
VII.     Quote Panel CSS
VIII.    Support Panel CSS
IX.      Footer

------------------------------------ 
*/

/* ------- General CSS ------- */
@charset "UTF-8";

section {
	height: 100vh;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

body{ font-size: 14px; }

a {text-decoration: none;}
a:hover{color: #00d9ff;}

.page-container {
    display: -webkit-box;
    display: flex;

    -webkit-box-orient: vertical;
    flex-direction: column;

    padding: 0px;
    box-sizing: border-box;
}

/* ------- End of General CSS ------- */

/* ------- TITLE Panel------- */

/* Screen Settings */
.homescreen {
    background-attachment: fixed;
	background-image: url('../images/home.jpg');
    background-position:top center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* End of Screen Settings */

nav {
    position: absolute;
    top:0vh;
	width: 100%;
	height: 10vh;
    z-index: 200;
}
.nav{
color: #fff;
}
.scrolling{
color: #000;
}
/* This class is added on scroll */
.fixed {
    background-color: #FFF;
	position: fixed; 
	top: 0; 
	height: 9vh; 
	z-index: 200;
    box-shadow: 3px 3px 3px #000;
    opacity: 0.9;  
}
.hnav{
    display:inline-block;
    height:10vh;
    text-decoration: none;
    text-transform: uppercase;
    width:100%;
    z-index: 200;
}
.logo{
 position:absolute;
 top: 20vh;
 height:10vh;
 width: 5vw.
}
.title{
font-size: 1.5vw;
width: 18vw;
padding: 1.1vw;
margin-top: 0vh;
margin-left: 0vw;
position: absolute;
top: 1vh;
}
.nav:hover{color: #00d9ff;}

ul.menu{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    display: flex;
    position: absolute;
    margin-top: 2vh;
    left:32vw;
    width: 41vw;
}
ul.menu li a{
    color: #fff;
    display: inline-block;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.5vw;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    padding: 8px 8px 8px 8px;
    line-height: 1em;
    text-decoration: none;
    font-weight: 600;
}
.buttoncontain{
transform: skewX(-20deg);
height: 2vh;
}
a.navbutton{
background-color: hsla(0,0%,0%,.7);
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;
color: #fff;
margin-top: 1.5vh;
opacity: 0.75;
line-height: 3vh;
position: absolute;
font-size: 1.1vw;
transform: skewX(20deg);
padding: 10px 20px 10px 20px;
left:87vw;
}
a.navbutton:hover{background-color: #000;}
ul.menu li a:hover{
    color: #00d9ff;
    font-weight: 500;
}
.mobile_menu{
display:none;
}

.mm_modalnav{
 display: none;
}

.skew-image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.skew-image > div {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: hidden;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

.skew-title {
  color: #eee;
  opacity: 0;
  pointer-events: none;
  font-size: .75rem;
  height: 100vh;
  width: 25vw;
  z-index: 10;
  -webkit-filter: grayscale(1) contrast(1.1);
  -moz-filter: grayscale(1) contrast(1.1);
  -ms-filter: grayscale(1) contrast(1.1);
  -o-filter: grayscale(1) contrast(1.1);
   filter: grayscale(1) contrast(1.1);
  transition: all .125s ease-in-out;
}

#parents:hover #children{
    opacity: 1;
    pointer-events: auto;
  }  
.skewtitle {
    background-attachment: fixed;
	background-image: url('../images/home.jpg');
    background-position:top center;
    background-size: cover;
    transform: skew(-20deg,0);
    top: 0vh;
    left: 0vw;
    height: 100vh;
    width: 65vw;
    margin-left: -10vw;
}
.skewone {
    background-attachment: fixed;
	background-image: url('../images/home.jpg');
    background-position:top center;
    background-size: cover;
    transform: skew(20deg,0);
     top: 0vh;
    margin-left: -10vw;
     height: 100vh;
    width: 45vw;
}
.skewtwo {
    background-attachment: fixed;
	background-image: url('../images/home.jpg');
    background-position:top center;
    background-size: cover;
    transform: skew(-20deg,0);
    top: 0vh;
    margin-left: -10vw;
    height: 100vh;
    width: 45vw;
}
.skewtitleend {
    background-attachment: fixed;
	background-image: url('../images/home.jpg');
    background-position:top center;
    background-size: cover;
    transform: skew(20deg,0);
    top: 0vh;
    left: 0vw;
    height: 100vh;
    width: 65vw;
    margin-left: -10vw;
}
.imagetitle{
    pointer-events: auto;
    position: absolute;
    top: 0vh;
    left: 3vw;
    content: '';
    height: 100vh;
    width: 25vw;
    -webkit-transform: skewX(20deg);
    -moz-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    -o-transform: skewX(20deg);
     transform: skewX(20deg);
    -webkit-filter: grayscale(1) contrast(1.5);
    -moz-filter: grayscale(1) contrast(1.5);
    -ms-filter: grayscale(1) contrast(1.5);
    -o-filter: grayscale(1) contrast(1.5);
    filter: grayscale(1) contrast(1.5);
    opacity: 0.9;
}
.imageuno {
    pointer-events: auto;
    position: absolute;
    top: 0vh;
    left: 4vw;
    content: '';
    height: 100vh;
    width: 25vw;
    margin-left: 21vw;
    -webkit-animation: moveThattile 10000ms 2s;
   -moz-animation: moveThattile 10000ms 2s;
   -ms-animation: moveThattile 1000ms 2s;
   animation: moveThattile 10000ms 2s;
   transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1.0);
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
     transform: skewX(-20deg);
    -webkit-filter: grayscale(1) contrast(1.5);
    -moz-filter: grayscale(1) contrast(1.5);
    -ms-filter: grayscale(1) contrast(1.5);
    -o-filter: grayscale(1) contrast(1.5);
    filter: grayscale(1) contrast(1.5);
    opacity: 0.9;
}
@-webkit-keyframes moveThattile {
    0%   {left: 4vw; top: 0vh;}
    50%  {left:51vw; top: 0vh;}
    100%  {left:4vw; top: 0vh;}
}
.imagedos{
    pointer-events: auto;
    position: absolute;
    top: 0vh;
    left: -10vw;
    content: '';
    height: 100vh;
    width: 25vw;
    margin-left: 59vw;
    -webkit-animation: moveThattiletwo 10000ms 2s;
   -moz-animation: moveThattiletwo 10000ms 2s;
   -ms-animation: moveThattiletwo 1000ms 2s;
   animation: moveThattiletwo 10000ms 2s;
   transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1.0);
    -webkit-transform: skew(20deg);
    transform: skew(20deg);
    -webkit-filter: grayscale(1) contrast(1.5);
    -moz-filter: grayscale(1) contrast(1.5);
    -ms-filter: grayscale(1) contrast(1.5);
    -o-filter: grayscale(1) contrast(1.5);
    filter: grayscale(1) contrast(1.5);
    opacity: 0.9;
}
@-webkit-keyframes moveThattiletwo {
    0%   {left: -10vw; top: 0vh;}
    50%  {left:-57vw; top: 0vh;}
    100%  {left: -10vw; top: 0vh;}
}
.imagetitleend{
    pointer-events: auto;
    position: absolute;
    top: 0vh;
    left: 72vw;
    content: '';
    height: 100vh;
    width: 25vw;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
     transform: skewX(-20deg);
    -webkit-filter: grayscale(1) contrast(1.5);
    -moz-filter: grayscale(1) contrast(1.5);
    -ms-filter: grayscale(1) contrast(1.5);
    -o-filter: grayscale(1) contrast(1.5);
    filter: grayscale(1) contrast(1.5);
    opacity: 0.9;
}
/* ---- End of TITLE Panel ---- */

/* ------- HOME Panel------- */

/* Screen Settings */
#hscreen {
background: white;
}

/*Panel & Content*/

h2.wdds{
  color: #fff;
  font-size: 4vw;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
-ms-font-smoothing: antialiased;
-o-font-smoothing: antialiased;
  font-weight: 300;
  padding-top: 20px;
  text-align: center;
  text-shadow: 2px 3px 3px #000;
}
p.wdds{
  color: #fff;
  font-size: 2.3vw;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
-ms-font-smoothing: antialiased;
-o-font-smoothing: antialiased;
  font-weight: 400;
  padding-top: 40px;
  text-align: center;
  text-shadow: 0.5px 1px 1px #000;
  line-height: 30px;
  top: 400px;
}

.main_title{
padding-top: 15vh;
}

/*End of Panel Slider & Content*/

/* ---- End of HOME Panel ---- */

/* ------- OUR PROCESS Panel------- */
#ourprocess{
 background-color: #fff;
}
.masonry-list {
  display:inline-block;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  height: 90vh;
  list-style: none;
  margin-top: 9vh;
  padding: 0px;
  position: absolute;
  width: 100vw;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}
.masonry-list li{
    display: block;
    float: left;
    height: 46vh;
    margin: 0px;
    overflow: hidden;
    padding: 0px;
    width: 33.333vw;;
}
.masonry-list li a{
opacity: 1;
text-decoration: none;
color: white;
}
.masonry-list h5 a:hover{
   color: #00d9ff;
   font-weight: 600;
}
.tile-case{
position: relative;
}
.tile-case .tile-primary-content h2{
    color: #4EAE47;
    font-size: 1.2vw;
    font-weight: 600;
    margin: 1vw;
    position: absolute;
  }
.tile-case .tile-primary-content h1{
    font-size: 4vw;
    font-weight:600;
    line-height: 1.2em;
    margin-top: 15vh;
    text-align: center;
    text-shadow: 3px 1px 3px hsla(0,0%,0%,.7);
  }
.tile-case .tile-primary-content p{
    font-size: 2.8vw;
    font-weight:600;
    line-height: 1.2em;
    margin-top: 0vh;
    padding: 1vw;
    text-align: center;
  }
.tile-case .tile-primary-content{
 color: #4EAE47;
 height: 46vh;
 width: 33.333vw;
position: absolute;
}
.tile-case .tile-secondary-content{
 color: white;
 height: 46vh;
 width: 33.333vw;
 background-color: hsla(0,0%,0%,.7);
 opacity: 0;
 position: absolute;
}
.tile-case:hover .tile-secondary-content .arrow{
background-image: url('../images/arrow1.png');
 background-repeat: no-repeat;
 display: block;
 height: 2.3vh;
 width: 3vw;
 position:absolute;
 top: 41.6vh;
 left: 23.4vw;
  -webkit-animation: learnMoremission 250ms;
  -moz-animation: learnMoremission 250ms;
  -ms-animation: learnMoremission 250ms;
  animation: learnMoremission 250ms;
transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1.0); 
}
@-webkit-keyframes learnMoremission {
    0%   {left: 0vw; top: 41.6vh;}
    100%  {left:23.4vw; top: 41.6vh;}
}
.tile-case .tile-secondary-content h2{
    color: #fff;
    font-size: 1.2vw;
    font-weight: 600;
    margin: 1vw;
    position: absolute;
  }
.tile-case .tile-secondary-content p{
    color: #fff;
    font-size: 2vw;
    font-weight:600;
    line-height: 1.2em;
    margin-top: 12vh;
    padding: 1vw;
    text-align: right;
  }
.tile-case .tile-secondary-content h5{
    color: #fff;
    font-size: 1vw;
    font-weight: 600;
    margin-top: 1.3vh;
    margin-left: 25vw;
    padding: 0.5vw;
}
.tile-case:hover .tile-secondary-content{
opacity:0.8;
}
.tile-case:hover .tile-primary-content{
 height: 46vh;
 width: 33.333vw;
 overflow: hidden;
 background: url('../images/environment.jpg');
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-repeat: no-repeat;
transition-property: all;
transform: scale(1.2, 1.2);
-ms-transform: scale(1.2, 1.2);
-webkit-transform: scale(1.2, 1.2);
transition-duration: 15000ms;
transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1.0); 
}
.tile-case:hover .tile-primary-content h2{
opacity: 0;
}
.tile-case:hover .tile-primary-content h1{
opacity: 0;
}
.tile-case:hover .tile-primary-content p{
opacity: 0;
}

/* ---- Responsive Design ---- */
.tile-rd{
position: relative;
}
.tile-rd .tile-primary-content h2{
    color: #50A6C2;
    font-size: 1.2vw;
    font-weight: 600;
    margin: 1vw;
    text-align: center;
  }
.tile-rd .tile-primary-content{
 color: white;
 height: 46vh;
 width: 33.333vw;
 background: url('../images/responsive-design.png');
 background-color: #fff;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-repeat: no-repeat;
background-position: center; 
position: absolute;
}
.tile-rd .tile-secondary-content{
 color: white;
 height: 46vh;
 width: 33.333vw;
 background-color: hsla(0,0%,0%,.7);
 opacity: 0;
 position: absolute;
}
.tile-rd:hover .tile-secondary-content .arrow{
 background-image: url('../images/arrow1.png');
 background-repeat: no-repeat;
 display: block;
 height: 2.2vh;
 width: 3vw;
 position:absolute;
 top: 41.6vh;
 left: 23.4vw;
  -webkit-animation: learnMorerd 250ms;
  -moz-animation: learnMorerd 250ms;
  -ms-animation: learnMorerd250ms;
  animation: learnMorerd 250ms;
transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1.0);
}
@-webkit-keyframes learnMorerd {
    0%   {left: 0vw; top: 41.6vh;}
    100%  {left:23.4vw; top: 41.6vh;}
}
.tile-rd .tile-secondary-content h2{
    color: #fff;
    font-size: 1.2vw;
    font-weight: 600;
    margin: 1vw;
    text-align: center;
  }
.tile-rd .tile-secondary-content p{
    font-size: 2vw;
    font-weight:600;
    line-height: 1.2em;
    margin-top: 3.8vh;
    padding: 1vw;
    text-align: center;
  }
.tile-rd .tile-secondary-content h5{
    color: #fff;
    font-size: 1vw;
    font-weight: 600;
    margin-top: 5.1vh;
    margin-left: 25vw;
    padding: 0.5vw;
}
.tile-rd:hover .tile-secondary-content{
opacity:0.8;
}
.tile-rd:hover .tile-primary-content{
 height: 46vh;
 width: 33.333vw;
 overflow: hidden;
transition-property: all;
transform: scale(1.2, 1.2);
-ms-transform: scale(1.2, 1.2);
-webkit-transform: scale(1.2, 1.2);
transition-duration: 15000ms;
transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1.0); 
}
.tile-rd:hover .tile-primary-content h2{
opacity: 0;
}
.tile-rd:hover .tile-primary-content p{
opacity: 0;
}
/* ---- End of Responsive Design ---- */

/* ---- NO TEMPLATES ---- */
.tile-notemplates{
position: relative;
}
.tile-notemplates .tile-primary-content h6{
    color: #D80018;
    font-size: 1vw;
    font-weight: 600;
    padding: 1em;
  }
.tile-notemplates .tile-primary-content h2{
    color: #D80018;
    font-size: 3vw;
    font-weight: 600;
    margin-top: 1.3em;
    padding: 0.5em;
    text-align: center;
  }
.tile-notemplates .tile-primary-content p{
    color: #D80018;
    font-size: 4vw;
    font-weight:600;
    margin: 0em;
    padding: 0em;
    text-align: center;
    text-shadow: 3px 1px 3px hsla(0,0%,0%,.7);
  }
.tile-notemplates .tile-primary-content{
background-color: #fff;
height: 46vh;
width: 33.333vw;
top: 0;
position: absolute;
}
.tile-notemplates .tile-secondary-content{
 height: 46vh;
 width: 33.333vw;
 background-color: hsla(0,0%,0%,.7);
 opacity: 0;
 position: absolute;
}
.tile-notemplates:hover .tile-secondary-content .arrow{
 background-image: url('../images/arrow1.png');
 background-repeat: no-repeat;
 display: block;
 height: 2.3vh;
 width: 3vw;
 position:absolute;
 top: 41.6vh;
 left: 23.4vw;
  -webkit-animation: learnMoreno 250ms;
  -moz-animation: learnMoreno 250ms;
  -ms-animation: learnMoreno 250ms;
  animation: learnMoreno 250ms;
transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1.0); 
}
@-webkit-keyframes learnMoreno {
    0%   {left: 0vw; top: 41.6vh;}
    100%  {left:23.4vw; top: 41.6vh;}
}
.tile-notemplates .tile-secondary-content h2{
    color: #fff;
    font-size: 1vw;
    font-weight: 600;
    padding: 1em;
}
.tile-notemplates .tile-secondary-content p{
    color: #fff;
    font-size: 2vw;
    font-weight: 600;
    line-height: 1.1em;
    margin-top: 6vh;
    padding: 1vw;
    text-align:left;
}
.tile-notemplates .tile-secondary-content h5{
    color: #fff;
    font-size: 1vw;
    font-weight: 600;
    margin-top: 3.3vh;
    margin-left: 25vw;
    padding: 0.5vw;
}
.tile-notemplates:hover .tile-primary-content{
background: url('../images/web-design-sketchbook.jpg');
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-repeat: no-repeat;
 height: 46vh;
 width: 33.333vw;
overflow: hidden;
transition-property: all;
transform: scale(1.2, 1.2);
-ms-transform: scale(1.2, 1.2);
-webkit-transform: scale(1.2, 1.2);
transition-duration: 15000ms;
transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1.0);
}
.tile-notemplates:hover .tile-secondary-content{
 height: 46vh;
 width: 33.333vw;
opacity: 1;
}
.tile-notemplates:hover .tile-primary-content h6{
opacity: 0;
}
.tile-notemplates:hover .tile-primary-content h2{
opacity: 0;
}
.tile-notemplates:hover .tile-primary-content p{
opacity: 0;
}
/* ---- End of NO TEMPLATES ---- */

/* ---- Free Consulting ---- */
.tile-freeconsulting{
position: relative;
}
.tile-freeconsulting .tile-primary-content{
 color: white;
 height: 46vh;
 width: 33.333vw;
 background-color: #00BFFF;
 position: absolute;
}
.tile-freeconsulting .tile-secondary-content{
 color: white;
 height: 46vh;
 width: 33.333vw;
 background-color: #00afe0;
 position: absolute;
 transform: translate3d(-150%,0,0);
 transition-duration: 350ms;
 transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1.0);
}
.tile-freeconsulting .tile-primary-content h2{
    color: #fff;
    font-size: 1.2vw;
    font-weight: 600;
    margin: 1vw;
    position: absolute;
  }
.tile-freeconsulting .tile-primary-content p{
    color: #fff;
    font-size: 2.8vw;
    font-weight:600;
    line-height: 1.2em;
    margin-top: 10vh;
    padding: 1vw;
    text-align: left;
  }
.tile-freeconsulting .tile-secondary-content p{
    font-size: 2vw;
    font-weight:600;
    line-height: 1.2em;
    margin-top: 10vh;
    padding: 1vw;
    text-align: left;
  }
.tile-freeconsulting .tile-primary-content{
 color: #fff;
 height: 46vh;
 width: 33.333vw;
background-image: url('../images/Twitter_logo_white.png');
background-repeat: no-repeat;
background-size: 50px 40px;
background-position: 85% 90%; 
position: absolute;
}
.tile-freeconsulting:hover .tile-primary-content p {
transform: translate3d(150%,0,0);
transition-duration: 350ms;
transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1.0);
}
.tile-freeconsulting:hover .tile-secondary-content p {
 transform: translate3d(150%,0,0);
 transition-duration: 350ms;
 transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1.0);
}
/* ---- End of Free Consulting ---- */

/* ---- Analytics ---- */
.tile-analytics{
position: relative;
}
.tile-analytics .tile-primary-content{
 color: white;
 height: 46vh;
 width: 33.333vw;
 background-image: url('../images/analytics.png');
 background-repeat: no-repeat;
 background-size: 50px 50px;
 background-position: 50% 18%; 
 background-color: #001742;
 position: absolute;
}
.tile-analytics .tile-secondary-content{
 color: white;
 height: 46vh;
 width: 33.333vw;
 opacity: 0;
 position: absolute;
}
.tile-analytics:hover .tile-secondary-content{
opacity:1;
}
.tile-analytics .tile-primary-content h2{
    color: #fff;
    font-size: 1.2vw;
    font-weight: 600;
    margin: 3vh;
    text-align: center;
  }
.tile-analytics .tile-primary-content p{
    color: #fff;
    font-size: 2.8vw;
    font-weight:600;
    line-height: 1.1em;
    margin-top: 11vh;
    padding: 0.2vw;
    text-align: center;
  }
.tile-analytics .tile-secondary-content p{
    color: #fff;
    font-size: 2vw;
    font-weight:600;
    line-height: 1.2em;
    margin-top: 13vh;
    padding: 1vw;
    text-align: center;
  }
.tile-analytics .tile-secondary-content h5{
    color: #fff;
    font-size: 1.2vw;
    font-weight: 600;
    top:2.3vh;
    left:12.3vw;
    padding: 0.2vw;
    position: absolute;
}
.tile-analytics:hover .tile-secondary-content .arrow{
 background-image: url('../images/arrow1.png');
 background-repeat: no-repeat;
 display: block;
 height: 2.3vh;
 width: 3vw;
 position:absolute;
 top: 2.3vh;
 left: 10vw;
  -webkit-animation: learnMoreana 250ms;
  -moz-animation: learnMoreana 250ms;
  -ms-animation: learnMoreana 250ms;
  animation: learnMoreana 250ms;
transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1.0); 
}
@-webkit-keyframes learnMoreana {
    0%   {left: 0vw; top: 2.3vh;}
    100%  {left:10vw; top: 2.3vh;}
}
.tile-analytics:hover .tile-primary-content p {
transform: translate3d(150%,0,0);
transition-duration: 0.5ms;
transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1.0);
}
.tile-analytics:hover .tile-primary-content h2{
opacity: 0;
}

/* ---- End of Analytics ---- */

/* ---- Pricing ---- */
.tile-pricing{
position: relative;
}
.tile-pricing .tile-primary-content{
 color: white;
 height: 46vh;
 width: 33.333vw;
 background-color: #1E90FF;
 position: absolute;
}
.tile-pricing .tile-secondary-content{
 color: white;
 height: 46vh;
 width: 33.333vw;
}
.tile-pricing .tile-primary-content h2{
    color: #fff;
    font-size: 1.2vw;
    font-weight: 600;
    margin: 1vw;
    position: absolute;
  }
.tile-pricing .tile-primary-content p{
    color: #fff;
    font-size: 2.8vw;
    font-weight:600;
    line-height: 1.2em;
    margin-top: 10vh;
    padding: 1vw;
    text-align: right;
  }
.tile-pricing .tile-secondary-content p{
    font-size: 2vw;
    font-weight:600;
    line-height: 1.2em;
    height: 46vh;
    width: 33.333vw;
    margin-top: 10vh;
    padding: 1vw;
    text-align: right;
    left:150%;
    position: absolute;
    top: 0%;
  }
.tile-pricing:hover .tile-secondary-content h5{
    color: #fff;
    font-size: 1vw;
    font-weight: 600;
    margin-top: 41.1vh;
    margin-left: 25vw;
    padding: 0.5vw;
    position: absolute;
    
}
.tile-pricing:hover .tile-secondary-content .arrow{
 background-image: url('../images/arrow1.png');
 background-repeat: no-repeat;
 display: block;
 height: 2.2vh;
 width: 3vw;
 position:absolute;
 top: 41.6vh;
 left: 23.4vw;
  -webkit-animation: learnMoreprice 250ms;
  -moz-animation: learnMoreprice 250ms;
  -ms-animation: learnMoreprice 250ms;
  animation: learnMoreprice 250ms;
 transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1.0);
}
@-webkit-keyframes learnMoreprice {
    0%   {left: 0vw; top: 41.6vh;}
    100%  {left:23.4vw; top: 41.6vh;}
}
.tile-pricing:hover .tile-primary-content p {
transform: translate3d(-150%,0,0);
transition-duration: 350ms;
transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1.0);
}
.tile-pricing:hover .tile-secondary-content p {
transform: translate3d(-150%,0,0);
transition-duration: 350ms;
transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1.0);
}

/* ---- End of Pricing ---- */

/* ---- End of OUR PROCESS Panel ---- */

/* ------- SERVICES Panel------- */
/* Screen Settings */
#services {
    background: url('../images/tile3.jpg');
    background-attachment: fixed;
	background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
}
/* End of Screen Settings */
.servicebanner{
    background: url('');
	background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: bottom;
    height: 75vh;
}
.servicebanner h2{
   color: #fff;
    font-size: 2.5vw;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
    font-weight: 400;
    text-align: center;
    text-shadow: 1px 2px 2px #000;
    padding-top: 15vh;
  }
.box-list li{
    display: block;
    float: left;
}
.box-list.second{
   margin-left: 10px;
}
.box {
    width: 56vw;
    height: 50vh;
}
.one {
    position: absolute;  /* remove from flow so sunset is placed on top */
    background: #754719;
    opacity: 0.7;
    transform: skewX(-20deg);
    top:230vh;
    left:-4.93%;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
-ms-font-smoothing: antialiased;
-o-font-smoothing: antialiased;
}
.one h2{
    color: #fff;
    font-size: 2vw;
    font-weight: 600;
    margin: 1em;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top:18vh;
    left:31vw;
    width: 40vh;
    transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    -moz-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    -o-transform: skewX(20deg);
  }
.one p.lead {
    color: #fff;
    font-size: 1.5vw;
    -webkit-font-smoothing: antialiased;
   -moz-font-smoothing: antialiased;
   -ms-font-smoothing: antialiased;
   -o-font-smoothing: antialiased;
    font-weight: 400;
    line-height: 1.1em;
    margin-left: -60vw;
    padding: 0.2em;
    position: absolute;
    height: 30vh;
    width: 20vw;
    top: 5.8vw;
    text-align: left;
    text-transform: uppercase;
    transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    -moz-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    -o-transform: skewX(20deg);
}
.one p.secondary {
    color: #fff;
    font-size: 1.5vw;
    -webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
-ms-font-smoothing: antialiased;
-o-font-smoothing: antialiased;
    font-weight: 400;
    line-height: 1.1em;
    margin-left: -60vw;
    padding: 0.2em;
    position: absolute;
    height: 30vh;
    width: 20vw;
    top: 5.8vw;
    text-align: left;
    text-transform: uppercase;
    transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    -moz-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    -o-transform: skewX(20deg);
}
.one h5 {
    color: #fff;
    font-size: 1.3vw;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
-ms-font-smoothing: antialiased;
-o-font-smoothing: antialiased;
    font-weight: 400;
    line-height: 1.1em;
    margin-left: -60vw;
    padding: 0.2em;
    position: absolute;
    height: 2vh;
    width: 12vw;
    top: 22.1vw;
    text-align: left;
    text-transform: uppercase;
    transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    -moz-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    -o-transform: skewX(20deg);
}
.one:hover h2{
top:1vh;
margin: 0.4em;
margin-left: -29vw;
width:50vw;
transform: skewX(20deg) !important;
-webkit-transform: skewX(20deg) !important;
-moz-transform: skewX(20deg) !important;
-ms-transform: skewX(20deg) !important;
-o-transform: skewX(20deg) !important;
transition-duration: 350ms;
transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1.0);
}
.one .text-rotate {
transform: rotate(-90deg);
-webkit- transform: rotate(-90deg);
-moz- transform: rotate(-90deg);
-ms- transform: rotate(-90deg);
}
.one:hover .text-rotate{
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transition-duration: 350ms;
transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1.0);
}
.one:hover p.lead{
margin-left: 9vw;
transition-duration: 350ms;
transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1.0);
}
.one:hover p.secondary{
margin-left: 33vw;
transition-duration: 350ms;
transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1.0);
}
.one:hover h5{
color: #fff;
margin-left: 36.6vw;
text-decoration: none;
transition-duration: 350ms;
transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1.0);
}
.one:hover .arrow{
 display: block;
 background-image: url('../images/arrow.png');
 background-repeat: no-repeat;
 height: 17px;
 width: 21px;
 position: absolute;
 top: 90.4%;
 transform: skewX(20deg);
 left: 62.5%;
  -webkit-animation: learnMore 700ms;
  -moz-animation: learnMore 700ms;
  -ms-animation: learnMore 700ms;
  animation: learnMore 700ms;
transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1.0); 
}
@-webkit-keyframes learnMore {
    0%   {left: 0%; top: 90.4%;}
    100%  {left:62.5%; top: 90.4%;}
}

.two {
/* skew back by negative of parent’s skew so contents is upright */
margin-left: 76px; /* give margin to push content away from left slanted edge */
background: #663300;
opacity: 0.7;
pointer-events: auto;    /* allow pointer events for the box */
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
-ms-font-smoothing: antialiased;
-o-font-smoothing: antialiased;
}
.two h2{
    color: #fff;
    font-size: 2vw;
    font-weight: 600;
    margin: 1em;
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    top:16vh;
    left:10vw;
    width: 40vh;
    transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    -moz-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    -o-transform: skewX(20deg);
  }
.two p.lead {
    color: #fff;
    font-size: 1.5vw;
    font-weight: 400;
    line-height: 1em;
    margin-left: 60vw;
    padding: 0.2em;
    position: absolute;
    height: 30vh;
    width: 20vw;
    top: 5.8vw;
    text-align: left;
    text-transform: uppercase;
    transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    -moz-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    -o-transform: skewX(20deg);
}
.two p.secondary {
    color: #fff;
    font-size: 1.5vw;
    font-weight: 400;
    line-height: 1.1em;
    margin-left: 60vw;
    padding: 0.2em;
    position: absolute;
    height: 30vh;
    width: 20vw;
    top: 5.8vw;
    text-align: left;
    text-transform: uppercase;
    transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    -moz-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    -o-transform: skewX(20deg);
}
.two h5 {
    color: #fff;
    font-size: 1.3vw;
    font-weight: 400;
    line-height: 1em;
    margin-left: -60vw;
    padding: 0.2em;
    position: absolute;
    height: 2vh;
    width: 12vw;
    top: 22.1vw;
    text-align: left;
    text-transform: uppercase;
    transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    -moz-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    -o-transform: skewX(20deg);
}
.two .text-rotate {
                transform: rotate(-90deg);
                -webkit- transform: rotate(-90deg);
                -moz- transform: rotate(-90deg);
                -ms- transform: rotate(-90deg);
}
.two:hover h2{
top:2vh;
margin: 0.4em;
margin-left: -3vw;
text-align: center;
width:50vw;
transform: skewX(20deg) !important;
-webkit-transform: skewX(20deg) !important;
-moz-transform: skewX(20deg) !important;
-ms-transform: skewX(20deg) !important;
-o-transform: skewX(20deg) !important;
transition-duration: 350ms;
transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1.0);
}
.two:hover .text-rotate{
transform: rotate(0deg);
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-ms-transform: rotate(0deg);
transition-duration: 350ms;
transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1.0);
}
.two:hover p.lead{
margin-left: 7vw;
transition-duration: 350ms;
transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1.0);
}
.two:hover p.secondary{
margin-left: 31vw;
transition-duration: 350ms;
transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1.0);
}
.two:hover h5{
color: #fff;
margin-left: 35vw;
text-decoration: none;
transition-duration: 350ms;
transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1.0);
}
.sklider:hover .arrow{
 display: block;
 background-image: url('../images/arrow.png');
 background-repeat: no-repeat;
 height: 17px;
 width: 21px;
 position:absolute;
 z-index: 1;
 top: 45.1vh;
 transform: skewX(20deg);
 left: 39vw;
  -webkit-animation: learnMore2 700ms;
  -moz-animation: learnMore2 700ms;
  -ms-animation: learnMore2 700ms;
  animation: learnMore2 700ms;
transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1.0); 
}
@-webkit-keyframes learnMore2 {
    0%   {left: 0vw; top: 45.1vh;}
    100%  {left:39vw; top: 45.1vh;}
}


.three {
    position: absolute;  /* remove from flow so sunset is placed on top */
    background: #94704D;
    opacity: 0.7;
    transform: skewX(-20deg);
    top:230vh;
    left:51%;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
-ms-font-smoothing: antialiased;
-o-font-smoothing: antialiased;
}
.three h2{
    color: #fff;
    font-size: 2vw;
    font-weight: 600;
    margin: 1em;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top:18vh;
    left:26vw;
    width: 40vh;
    transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    -moz-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    -o-transform: skewX(20deg);
  }
.three p.lead {
    color: #fff;
    font-size: 1.5vw;
    -webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
-ms-font-smoothing: antialiased;
-o-font-smoothing: antialiased;
    font-weight: 400;
    line-height: 1.1em;
    margin-left: -80vw;
    padding: 0.2em;
    position: absolute;
    height: 30vh;
    width: 20vw;
    top: 5.8vw;
    text-align: left;
    text-transform: uppercase;
    transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    -moz-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    -o-transform: skewX(20deg);
}
.three p.secondary {
    color: #fff;
    font-size: 1.5vw;
    -webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
-ms-font-smoothing: antialiased;
-o-font-smoothing: antialiased;
    font-weight: 400;
    line-height: 1.1em;
    margin-left: -80vw;
    padding: 0.2em;
    position: absolute;
    height: 30vh;
    width: 20vw;
    top: 5.8vw;
    text-align: left;
    text-transform: uppercase;
    transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    -moz-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    -o-transform: skewX(20deg);
}
.three h5 {
    color: #fff;
    font-size: 1.3vw;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-weight: 400;
    line-height: 1.1em;
    margin-left: -60vw;
    padding: 0.2em;
    position: absolute;
    height: 2vh;
    width: 12vw;
    top: 22vw;
    text-align: left;
    text-transform: uppercase;
    transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    -moz-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    -o-transform: skewX(20deg);
}
.three:hover h2{
top:1vh;
margin-left: -27.5vw;
width:50vw;
transform: skewX(20deg) !important;
-webkit-transform: skewX(20deg) !important;
-moz-transform: skewX(20deg) !important;
-ms-transform: skewX(20deg) !important;
-o-transform: skewX(20deg) !important;
transition-duration: 350ms;
transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1.0);
}
.three .text-rotate {
transform: rotate(-90deg);
-webkit- transform: rotate(-90deg);
-moz- transform: rotate(-90deg);
-ms- transform: rotate(-90deg);
}
.three:hover .text-rotate{
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transition-duration: 350ms;
transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1.0);
}
.three:hover p.lead{
margin-left: 6vw;
transition-duration: 350ms;
transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1.0);
}
.three:hover p.secondary{
margin-left: 28vw;
transition-duration: 350ms;
transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1.0);
}
.three:hover h5{
color: #fff;
margin-left: 36.6vw;
text-decoration: none;
transition-duration: 350ms;
transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1.0);
}
.three:hover .arrow{
 display: block;
 background-image: url('../images/arrow.png');
 background-repeat: no-repeat;
 height: 17px;
 width: 21px;
 position: absolute;
 top: 90.4%;
 transform: skewX(20deg);
 left: 62.5%;
  -webkit-animation: learnMore 700ms;
  -moz-animation: learnMore 700ms;
  -ms-animation: learnMore 700ms;
  animation: learnMore 700ms;
transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1.0); 
}
@-webkit-keyframes learnMore {
    0%   {left: 0%; top: 90.4%;}
    100%  {left:62.5%; top: 90.4%;}
}


.four {
    /* skew back by negative of parent’s skew so contents is upright */
    transform: skewX(0deg);
    margin-left: 11vw; /* give margin to push content away from left slanted edge */
    opacity: 0.7;
    background: #855C33;
    pointer-events: auto;    /* allow pointer events for the box */
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
}

.four h2{
    color: #fff;
    font-size: 2vw;
    font-weight: 600;
    margin: 1em;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top:18vh;
    left:-1vw;
    width: 43vh;
    transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    -moz-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    -o-transform: skewX(20deg);
  }
.four p.lead {
    color: #fff;
    font-size: 1.5vw;
    font-weight: 400;
    line-height: 1em;
    margin-left: 60vw;
    padding: 0.2em;
    position: absolute;
    height: 30vh;
    width: 20vw;
    top: 5.8vw;
    text-align: left;
    text-transform: uppercase;
    transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    -moz-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    -o-transform: skewX(20deg);
}
.four p.secondary {
    color: #fff;
    font-size: 1.5vw;
    font-weight: 400;
    line-height: 1.1em;
    margin-left: 60vw;
    padding: 0.2em;
    position: absolute;
    height: 30vh;
    width: 20vw;
    top: 5.8vw;
    text-align: left;
    text-transform: uppercase;
    transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    -moz-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    -o-transform: skewX(20deg);
}
.four h5 {
    color: #fff;
    font-size: 1.3vw;
    font-weight: 400;
    line-height: 1em;
    margin-left: -60vw;
    padding: 0.2em;
    position: absolute;
    height: 2vh;
    width: 12vw;
    top: 22.1vw;
    text-align: left;
    text-transform: uppercase;
    transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    -moz-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    -o-transform: skewX(20deg);
}
.four .text-rotate {
                transform: rotate(-90deg);
                -webkit- transform: rotate(-90deg);
                -moz- transform: rotate(-90deg);
                -ms- transform: rotate(-90deg);
}
.four:hover h2{
top:2vh;
margin: 1vw;
margin-left:-1vw;
width:50vw;
transform: skewX(20deg) !important;
-webkit-transform: skewX(20deg) !important;
-moz-transform: skewX(20deg) !important;
-ms-transform: skewX(20deg) !important;
-o-transform: skewX(20deg) !important;
transition-duration: 350ms;
transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1.0);
}
.four:hover .text-rotate{
transform: rotate(0deg);
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-ms-transform: rotate(0deg);
transition-duration: 350ms;
transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1.0);
}
.four:hover p.lead{
margin-left: 5vw;
transition-duration: 350ms;
transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1.0);
}
.four:hover p.secondary{
margin-left: 28vw;
transition-duration: 350ms;
transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1.0);
}
.four:hover h5{
color: #fff;
margin-left: 31.5vw;
text-decoration: none;
transition-duration: 350ms;
transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1.0);
}
.sklider {
    /* set initial width */
    width: 35vw;
           
    /* hide the content that overflows (to allow second box to show through) */
   overflow: hidden;
   display: inline-flex;
           
    /* skew container so that it has angled edge, and set up transition */
   transform: skewX(-20deg);
   transition: width 1.2s ease-in-out;
    
    /* give negative margin to remove gap caused by left hand skew */
    position: absolute;
   /* hide pointer events for unseen content */
   pointer-events: none;
}
.sklider.ii{
top:230vh;
left:0%;
margin-left:-10vw;  
}
.sklider.iv{
top:230vh;
left:50%;
margin-left:-10vw;  
}
.sklider:hover {
   width: 61vw;
   opacity:1 !important;
   transition-duration: 350ms;
   transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1.0);
}
.one:hover + .sklider { 
    width: 5vw;
    transition-duration: 350ms;
    transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1.0);
}
.three:hover + .sklider {
    width: 5vw;
    transition-duration: 350ms;
    transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1.0);
}
.one:hover{
background-color: #001742;
opacity: 0.98;
}
.two:hover{
background-color: #001742;
opacity: 0.98;
}
#parent:hover #child{
   color: #FF4500;
   font-weight: 600;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
-ms-font-smoothing: antialiased;
-o-font-smoothing: antialiased;
}
.three:hover{
background-color: #001742;
opacity: 0.98;
}
.four:hover{
background-color: #001742;
opacity: 0.98;
}
/* ---- End of SERVICES Panel ---- */


/*{
background-image: url('tile1.jpg');
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-position: center;
color:#FF9E00;
padding: 5em;
}*/

.services h1{
color: white;
float:right;
font-size: 2em;
font-family: 'Yanone Kaffeesatz', sans-serif;
text-transform: uppercase;
padding: 3em 1em;
}
/* CSS for Vertical Services Accordion */
/* This resets the margin and padding on the form. */
div form {
  margin: 0;
  position:relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
ul.vacc{
list-style: none;
}
/* This hides the radio buttons from the screen. */
.vacc input {
  position: absolute;
  opacity:0;
}
label {
  background: #663300;
  display:inline-block;
  float:left;
  font: 25px/27em 'Josefin Sans', sans-serif;
  height: 26.9em;
  opacity: 0.8;
  position: relative;
  text-align: center;
  width: 6em;
  z-index: 1;
 
  -webkit-transition: width 1s ease, background 0.5s ease;
     -moz-transition: width 1s ease, background 0.5s ease;
       -o-transition: width 1s ease, background 0.5s ease;
      -ms-transition: width 1s ease, background 0.5s ease;
          transition: width 1s ease, background 0.5s ease;
     
     -webkit-transform:rotate(0deg);  
     -moz-transform:rotate(0deg);  
     -o-transform: rotate(0deg);  
     transform: rotate(0deg);   
}

#rad2 + label {
  background: #754719;
  -webkit-transition: width 1s ease, background 0.5s ease;
     -moz-transition: width 1s ease, background 0.5s ease;
       -o-transition: width 1s ease, background 0.5s ease;
      -ms-transition: width 1s ease, background 0.5s ease;
          transition: width 1s ease, background 0.5s ease;
}
#rad3 + label {
  background: #855C33;
  -webkit-transition: width 1s ease, background 0.5s ease;
     -moz-transition: width 1s ease, background 0.5s ease;
       -o-transition: width 1s ease, background 0.5s ease;
      -ms-transition: width 1s ease, background 0.5s ease;
          transition: width 1s ease, background 0.5s ease;
}
#rad4 + label {
  background: #94704D;
  -webkit-transition: width 1s ease, background 0.5s ease;
     -moz-transition: width 1s ease, background 0.5s ease;
       -o-transition: width 1s ease, background 0.5s ease;
      -ms-transition: width 1s ease, background 0.5s ease;
          transition: width 1s ease, background 0.5s ease;
}
label:hover, #rad2 + label:hover, #rad3 + label:hover, #rad4 + label:hover {
  background: black;
  color: #fff;
  cursor: pointer;
}

/*SLIDES*/
.accslide {
  display: block;
  height: 40.3em;
  width: 0px;
  padding: 55px 0px;
  float: left;
  overflow: hidden;
  color: #333;
  background: #fff;

  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
h2.accs {
  width: 100%;
  padding-left: 10px;
}
p.accs {
  width: 100%;
  padding-left: 10px;
}
input[type="radio"]:checked ~ .accslide {
  width: 30%;
}
/* End of CSS for Vertical Services Accordion */

/* ------- PORTFOLIO Panel------- */

/* Screen Settings */
#screen4 {
	background: #CE0000;
}

/* ---- End of PORTFOLIO Panel ---- */

/* ------- QUOTE Panel------- */

/* Screen Settings */
#screen5 {
	background: #9CCF31;
}

/* ---- End of QUOTE Panel ---- */

/* ------- SUPPORT Panel------- */

/* Screen Settings */
#screen6 {
	background: #E7E7E7;
}

/* ---- End of SUPPORT Panel ---- */

/* ------- CONTACT Panel------- */

/* Screen Settings */
#screen7 {
	background: #E0E9E9;
}

/* ---- End of CONTACT Panel ---- */

/* ------- FOOTER Panel------- */

/* Screen Settings */

/* ---- End of FOOTER Panel ---- */


@media only screen and (max-width: 520px) {

	nav li {
		padding: 24px 4px;
	}

	nav li a {
		font-size: 14px;
	}

}