/* WDDS Custom Stylesheet */

/* WDDS Site Outline */

/* 
------- Table of Contents ------

I.       General CSS
II.     Home Panel CSS
            i.  Panel Content
III.      Title [Home] Panel CSS
            i.  Navigation Bar Contents
            ii. Animated Scroll Arrow
IV.      About Panel CSS
            i.   Image Title Bar
            ii.  3 Column Information
V.       Services Panel CSS
            i.   Image Title Bar
            ii.  Panel Background Image
            iii. Accordion Slider & Content

VI.      Porfolio Panel CSS
VII.     Quote Panel CSS
VIII.    Support Panel CSS
IX.      Footer

------------------------------------ 
*/

/* ------- General CSS ------- */
section {
	height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
}

body{ font-size: 14px; }

/* ------- End of General CSS ------- */

/* ------- TITLE Panel------- */

/* Screen Settings */
@-webkit-keyframes animatedBackground {
from { background-position: 0 0; }
to { background-position: 100% 0; }
}
@-ms-keyframes animatedBackground {
from { background-position: 0 0; }
to { background-position: 100% 0; }
}
@-moz-keyframes animatedBackground {
from { background-position: 0 0; }
to { background-position: 100% 0; }
}
@keyframes animatedBackground {
from { background-position: 0 0; }
to { background-position: 100% 0; }
}

#homescreen {
	background-image: url('homescreen_mobile.jpg');
    background-position: 0px 0px;
    background-size: cover;
	background-repeat: repeat-x;
    
    -webkit-animation: animatedBackground 40s linear infinite;
    -moz-animation: animatedBackground 40s linear infinite;
    -ms-animation: animatedBackground 40s linear infinite;
     animation: animatedBackground 40s linear infinite;
}
/* End of Screen Settings */

nav{
position: absolute;
	top:0%;
	width: 100%;
	height: 50px;
}
/* This class is added on scroll */
.fixed {
	position: fixed; 
	top: 0; 
	height: 50px;
    width: 100%;
	z-index: 10000;
    opacity: 0.9;  
}
.hnav{
    background-color: black;
    height:50px;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    width:100%;
    z-index: 1;
}
ul.menu li a{
    display: none;  
}
ul.menu li a:hover{
    background-color: #d8d8d8;
    color: black;
}
.mobile_menu{
    background-image: url('menu-circle.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 45px;
    position: absolute;
    top: 0px;
    right: 43%;
}
.mobile_menu:hover{
    background-image: url('menu-circle_hover.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 45px;
    position: absolute;
    top: 0px;
    right: 43%;
}
ul.mmenu li a{
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    font-size: 25px;
    text-decoration: none;
}
ul.mmenu li a:hover{
    background-color: #d8d8d8;
}
/* Mobile Modal Menu */

.mm_modalnav {
        display:list-item;
		position: fixed;
		font-family: 'Josefin Sans', sans-serif;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		background: rgba(0,0,0,0.8);
		z-index: 99999;
		opacity:0;
		-webkit-transition: opacity 400ms ease-in;
		-moz-transition: opacity 400ms ease-in;
		transition: opacity 400ms ease-in;
		pointer-events: none;
	}
.mm_modalnav ul {
    position: absolute;
    top: 20%;
    left:22%;
    
}
.mm_modalnav ul a{
color: white;
display:inline-block;
float: left;
width: 200px;
justify-content: center;
padding: 10px 10px 10px 10px;
text-align: center;
text-transform: uppercase;
text-decoration: none;
margin: 0;
}

	.mm_modalnav:target {
		opacity:1;
		pointer-events: auto;
	}

	.mm_modalnav > div {
		width: 400px;
		position: relative;
		margin: 10% auto;
		padding: 5px 20px 13px 20px;
		border-radius: 10px;
		background: #fff;
		background: -moz-linear-gradient(#fff, #999);
		background: -webkit-linear-gradient(#fff, #999);
		background: -o-linear-gradient(#fff, #999);
	}

	.close {
		background: #606061;
		color: #FFFFFF;
		line-height: 25px;
		position: absolute;
		right: -12px;
		text-align: center;
		top: 20%;
        left: 90%;
		width: 25px;
		text-decoration: none;
		-webkit-border-radius: 25px;
		-moz-border-radius: 25px;
		border-radius: 25px;
		-moz-box-shadow: 1px 1px 3px #000;
		-webkit-box-shadow: 1px 1px 3px #000;
		box-shadow: 1px 1px 3px #000;
	}
a.close{
line-height: 25px;
text-align: center;
font-weight: 900;
padding: 2px 1px 0px 2px;
}
	.close:hover { background: #00d9ff; }

/* End of Mobile Modal Menu */

a.main_menu{
    display: none;
}

/* ---- End of TITLE Panel ---- */

/* ------- HOME Panel------- */

/* Screen Settings */
#hscreen {
background-image: url('tile3.jpg');
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-position: center;
}

article.porfolio{
background-image: url('hometile.jpg');
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-position: center;
box-shadow: 3px 3px 3px #000;
width:100%;
font-size: 30px;
font-family: 'Josefin Sans', sans-serif;
font-style: italic;
text-transform: uppercase;
color:#fff;
padding: 2.5em;
}

/*Panel & Content*/

h1.wdds{
  font-size: 8em;
  font-weight: 300;
  padding-top: 150px;
  text-align: center;
}

h2.wdds{
  font-size: 34px;
  padding-top: 10px;
  text-align: center;
}
p.wdds{
  font-size: 24px;
  padding-top: 30px;
  text-align: center;
  line-height: 30px;
}

.main_title{
padding-top: 10%;
}

/*End of Panel Slider & Content*/

/* ---- End of HOME Panel ---- */

/* ------- ABOUT Panel------- */

/* Screen Settings */
#screen2 {
	background: #fff;
}
.about h1{
color:#FFFFCC;
float:left;
font-size: 2em;
font-family: 'Josefin Sans', sans-serif;
text-transform: uppercase;
}
article.about{
background-image: url('tile.jpg');
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-position: bottom;
box-shadow: 3px 3px 3px #000;
color:#FF9E00;
padding: 5em;
}
div.about_content h2{
background-color: #FFFFCC;
box-shadow:0.2px 1px 0.5px 1px #000;
color:#000;
font-size: 1.5em;
padding: 0.5em;
width:17em;
}
div.about_content {
    background-color: #fff;
    box-shadow:0.2px 1px 0.5px 1px #000;
    opacity: 0.9;
    padding:1em;
}
div.about_content p{
    padding:1em;
    justify-content: center;
}

/*Button CSS*/
.button {
   border-top: 1px solid #009ECE;
   background: #009ECE;
   background: -webkit-gradient(linear, left top, left bottom, from(#009ECE), to(#009ECE));
   background: -webkit-linear-gradient(top, #009ECE, #009ECE);
   background: -moz-linear-gradient(top, #009ECE, #009ECE);
   background: -ms-linear-gradient(top, #009ECE, #009ECE);
   background: -o-linear-gradient(top, #009ECE, #009ECE);
   padding: 1em;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 15px;
   color: white;
   font-size: 15px;
   font-family: 'Josefin Sans', sans-serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
border-top-color: #fff;
background: #fff;
color: #000000;
}
/*End of Button CSS*/

/* ---- End of ABOUT Panel ---- */

/* ------- SERVICES Panel------- */

/* Screen Settings */
#screen3 {
}

/*{
background-image: url('tile1.jpg');
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-position: center;
color:#FF9E00;
padding: 5em;
}*/

.services h1{
display: none;
color: white;
float:right;
font-size: 2em;
font-family: 'Josefin Sans', sans-serif;
text-transform: uppercase;
padding: 1em 1em;
}
/* CSS for Vertical Services Accordion */
/* This resets the margin and padding on the form. */
div form {
  margin: 0;
  padding: 0;
  position:relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
ul.vacc{
list-style: none;
padding-top: 52px;
}
/* This hides the radio buttons from the screen. */
.vacc input {
  position: absolute;
  opacity:0;
}
label {
  background: #663300;
  font: 25px/4em 'Josefin Sans', sans-serif;
  height: 91.7px;
  opacity: 0.8;
  position:static;
  text-align: center;
  width: 100%;
 
  -webkit-transition: width 0.5s ease, background 0.5s ease;
     -moz-transition: width 0.5s ease, background 0.5s ease;
       -o-transition: width 0.5s ease, background 0.5s ease;
      -ms-transition: width 0.5s ease, background 0.5s ease;
          transition: width 0.5s ease, background 0.5s ease;
     
     -webkit-transform:rotate(0deg);  
     -moz-transform:rotate(0deg);  
     -o-transform: rotate(0deg);  
     transform: rotate(0deg);   
}

#rad2 + label {
  background: #754719;
  -webkit-transition: width 0.5s ease, background 0.5s ease;
     -moz-transition: width 0.5s ease, background 0.5s ease;
       -o-transition: width 0.5s ease, background 0.5s ease;
      -ms-transition: width 0.5s ease, background 0.5s ease;
          transition: width 0.5s ease, background 0.5s ease;
}
#rad3 + label {
  background: #855C33;
  -webkit-transition: width 0.5s ease, background 0.5s ease;
     -moz-transition: width 0.5s ease, background 0.5s ease;
       -o-transition: width 0.5s ease, background 0.5s ease;
      -ms-transition: width 0.5s ease, background 0.5s ease;
          transition: width 0.5s ease, background 0.5s ease;
}
#rad4 + label {
  background: #94704D;
  -webkit-transition: width 0.5s ease, background 0.5s ease;
     -moz-transition: width 0.5s ease, background 0.5s ease;
       -o-transition: width 0.5s ease, background 0.5s ease;
      -ms-transition: width 0.5s ease, background 0.5s ease;
          transition: width 0.5s ease, background 0.5s ease;
}
label:hover, #rad2 + label:hover, #rad3 + label:hover, #rad4 + label:hover {
  background: black;
  color: #fff;
  cursor: pointer;
}

/*SLIDES*/
.accslide {
  display:inline;
  height: 0px;
  width: 0em;
  padding: 0px;
  overflow: hidden;
  color: #333;
  background: #fff;

  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
h2.accs {
  width: 100%;
  padding-left: 0px;
  padding-top: 10px;
}
p.accs {
  width: 100%;
  padding-left: 10px;
}
 

input[type="radio"]:checked ~ .accslide {
  height: 240px;
  width: 100%;
}
/* End of CSS for Vertical Services Accordion */


/* ---- End of SERVICES Panel ---- */

/* ------- PORTFOLIO Panel------- */

/* Screen Settings */
#screen4 {
	background: #CE0000;
}

/* ---- End of PORTFOLIO Panel ---- */

/* ------- QUOTE Panel------- */

/* Screen Settings */
#screen5 {
	background: #9CCF31;
}

/* ---- End of QUOTE Panel ---- */

/* ------- SUPPORT Panel------- */

/* Screen Settings */
#screen6 {
	background: #E7E7E7;
}

/* ---- End of SUPPORT Panel ---- */

/* ------- CONTACT Panel------- */

/* Screen Settings */
#screen7 {
	background: #E0E9E9;
}

/* ---- End of CONTACT Panel ---- */

/* ------- FOOTER Panel------- */

/* Screen Settings */

/* ---- End of FOOTER Panel ---- */


@media
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (   -moz-min-device-pixel-ratio: 2),
	only screen and (     -o-min-device-pixel-ratio: 2/1),
	only screen and (        min-device-pixel-ratio: 2),
	only screen and (                min-resolution: 192dpi),
	only screen and (                min-resolution: 2dppx)