/* WDDS Custom Stylesheet */

/* WDDS Site Outline */

/* 
------- Table of Contents ------

I.       General CSS
II.     Home Panel CSS
            i.  Panel Content
III.      Title [Home] Panel CSS
            i.  Navigation Bar Contents
            ii. Animated Scroll Arrow
IV.      About Panel CSS
            i.   Image Title Bar
            ii.  3 Column Information
V.       Services Panel CSS
            i.   Image Title Bar
            ii.  Panel Background Image
            iii. Accordion Slider & Content

VI.      Porfolio Panel CSS
VII.     Quote Panel CSS
VIII.    Support Panel CSS
IX.      Footer

------------------------------------ 
*/

/* ------- General CSS ------- */
@charset "UTF-8";

section {
	height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
}

body{ font-size: 14px; }

.page-container {
    display: -webkit-box;
    display: flex;

    -webkit-box-orient: vertical;
    flex-direction: column;

    padding: 0px;
    box-sizing: border-box;
}

/* ------- End of General CSS ------- */

/* ------- TITLE Panel------- */

/* Screen Settings */
#homescreen {
	background-image: url('tile1.jpg');
    background-position: 0px 0px;
	background-repeat: no-repeat;
    background-size: 1400px 800px;
}

/* End of Screen Settings */

nav {
    position: absolute;
    top:90vh;
	width: 100%;
	height: 50px;
    z-index: 200;
}
/* This class is added on scroll */
.fixed {
	position: fixed; 
	top: 0; 
	height: 50px; 
	z-index: 200;
    box-shadow: 3px 3px 3px #000;
    opacity: 0.9;  
}
.hnav{
    background-color: #121212;
    display:inline-block;
    height:50px;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    width:100%;
    z-index: 200;
}
ul.menu{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    float: right;
    justify-content: flex-end;
}
ul.menu li a{
    color: #fff;
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    font-size: 15px;
    padding: 20px 20px 10px 20px;
    line-height: 1em;
    text-decoration: none;
}
ul.menu li a:hover{
    color: #00d9ff;
    font-weight: 500;
}

div.main_menu {
    float:left;
    background-image: url(home-icon.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 25px;
    margin-top: 13px;
    margin-left: 80px;
}
div.main_menu:hover {
    float:left;
    background-image: url(home-icon-hover.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 25px;
    margin-top: 13px;
    margin-left: 80px;
}
.mobile_menu{
display:none;
}
.mm_modalnav{
 display: none;
}
.cname a{
    color: #fff;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    padding: 10px 20px 10px 20px;
    line-height: 2.7em;
    text-decoration: none;
}
.cname a:hover {
    color: #00d9ff;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    padding: 20px 20px 10px 20px;
    line-height: 2.7em;
    text-decoration: none;
}
/* ---- End of TITLE Panel ---- */

/* ------- HOME Panel------- */

/* Screen Settings */
#hscreen {
background: white;
}

article.porfolio{
background-image: url('hometile.jpg');
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-position: center;
box-shadow: 3px 3px 3px #000;
width:100%;
font-size: 30px;
font-family: 'Josefin Sans', sans-serif;
font-style: italic;
text-transform: uppercase;
color:#fff;
padding: 2.5em;
}

/*Panel & Content*/

h1.wdds{
  color: #fff;
  text-shadow: 1px 2px 2px #000;
  font-size: 14vw;
  font-weight: 100;
  text-align: center;
  top:150px;
}
h2.wdds{
  color: #fff;
  font-size: 4vw;
  font-weight: 300;
  padding-top: 20px;
  text-align: center;
  text-shadow: 1px 2px 2px #000;
  top: 300px;
}
p.wdds{
  color: #fff;
  font-size: 2.3vw;
  font-weight: 100;
  padding-top: 40px;
  text-align: center;
  text-shadow: 0.5px 1px 1px #000;
  line-height: 30px;
  top: 400px;
}

.main_title{
padding-top: 15vh;
}

/*End of Panel Slider & Content*/

/* ---- End of HOME Panel ---- */

/* ------- OUR PROCESS Panel------- */
#ourprocess{
 background-color: hsl(0,0%,14%);
}
.masonry-list {
  display:inline-block;
  font-family: 'Source Sans Pro', sans-serif;
  height: 90vh;
  list-style: none;
  margin-top: 54px;
  padding: 0px;
  position: absolute;
  width: 100vw;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}
.masonry-list li{
    display: block;
    float: left;
    height: 46vh;
    margin: 0px;
    overflow: hidden;
    padding: 0px;
    width: 33.333vw;;
}
.masonry-list li a{
opacity: 1;
text-decoration: none;
color: white;
}
.masonry-list h5 a:hover{
   color: #00d9ff;
   font-weight: 100;
}
.tile-case{
position: relative;
}
.tile-case .tile-primary-content h2{
    color: #fff;
    font-size: 1vw;
    font-weight: 200;
    margin-top: 20.6em;
    margin-left: 25.5em;
    position: absolute;
  }
.tile-case .tile-primary-content p{
    font-size: 2.8vw;
    font-weight:100;
    line-height: 1.1em;
    margin: 0em 0 0;
    padding: 0.2em;
  }
.tile-case .tile-primary-content{
 color: white;
 height: 46vh;
 width: 33.333vw;
 background: url('tile3.jpg');
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-repeat: no-repeat;
background-position: center; 
position: absolute;
}
.tile-case .tile-secondary-content{
 color: white;
 height: 46vh;
 width: 33.333vw;
 background-color: hsla(0,0%,0%,.7);
 opacity: 0;
 position: absolute;
}
.tile-case:hover .tile-secondary-content .arrow{
 display: block;
 background-image: url('arrow.png');
 background-repeat: no-repeat;
 height: 17px;
 width: 21px;
 position: absolute;
 top: 90.2%;
 left: 70%;
  -webkit-animation: learnMore 250ms;
  -moz-animation: learnMore 250ms;
  -ms-animation: learnMore 250ms;
  animation: learnMore 250ms;
transition-timing-function: cubic-bezier(0, 0, .80, .90); 
}
@-webkit-keyframes learnMore {
    0%   {left: 60%; top: 90.2%;}
    100%  {left:70%; top: 90.2%;}
}
.tile-case .tile-secondary-content h2{
    color: #fff;
    font-size: 1vw;
    font-weight: 200;
    padding: 1em;
}
.tile-case .tile-secondary-content p{
    font-size: 2.5vw;
    font-weight: 200;
    line-height: 1.1em;
    margin: 0.5em 0 0;
    padding: 0.2em;
    text-align: right;
}
.tile-case .tile-secondary-content h5{
    color: #fff;
    font-size: 1vw;
    font-weight: 200;
    margin-top: 1.3em;
    margin-left: 25em;
    padding: 0.5em;
}
.tile-case:hover .tile-secondary-content{
opacity:0.8;
}
.tile-case:hover .tile-primary-content{
 height: 46vh;
 width: 33.333vw;
 overflow: hidden;
transition-property: all;
transform: scale(1.2, 1.2);
-ms-transform: scale(1.2, 1.2);
-webkit-transform: scale(1.2, 1.2);
transition-duration: 15000ms;
transition-timing-function: cubic-bezier(0, 0, .80, .90); 
}
.tile-case:hover .tile-primary-content h2{
opacity: 0;
}
.tile-case:hover .tile-primary-content p{
opacity: 0;
}

/* ---- Responsive Design ---- */
.tile-rd{
position: relative;
}
.tile-rd .tile-primary-content h2{
    color: #fff;
    font-size: 1vw;
    font-weight: 200;
    margin: 1em;
    position: absolute;
  }
.tile-rd .tile-primary-content{
 color: white;
 height: 46vh;
 width: 33.333vw;
 background: url('responsive-design.jpg');
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-repeat: no-repeat;
background-position: center; 
position: absolute;
}
.tile-rd .tile-secondary-content{
 color: white;
 height: 46vh;
 width: 33.333vw;
 background-color: hsla(0,0%,0%,.7);
 opacity: 0;
 position: absolute;
}
.tile-rd:hover .tile-secondary-content .arrow{
 display: block;
 background-image: url('arrow.png');
 background-repeat: no-repeat;
 height: 17px;
 width: 21px;
 position: absolute;
 top: 90.2%;
 left: 70%;
  -webkit-animation: learnMore 250ms;
  -moz-animation: learnMore 250ms;
  -ms-animation: learnMore 250ms;
  animation: learnMore 250ms;
transition-timing-function: cubic-bezier(0, 0, .80, .90); 
}
@-webkit-keyframes learnMore {
    0%   {left: 60%; top: 90.2%;}
    100%  {left:70%; top: 90.2%;}
}
.tile-rd .tile-secondary-content h2{
    color: #fff;
    font-size: 1vw;
    font-weight: 200;
    padding: 1em;
}
.tile-rd .tile-secondary-content p{
    font-size: 2.5vw;
    font-weight: 200;
    line-height: 1.1em;
    margin: 0.5em 0 0;
    padding: 0.2em;
    text-align: left;
}
.tile-rd .tile-secondary-content h5{
    color: #fff;
    font-size: 1vw;
    font-weight: 200;
    margin-top: 1.3em;
    margin-left: 25em;
    padding: 0.5em;
}
.tile-rd:hover .tile-secondary-content{
opacity:0.8;
}
.tile-rd:hover .tile-primary-content{
 height: 46vh;
 width: 33.333vw;
 overflow: hidden;
transition-property: all;
transform: scale(1.2, 1.2);
-ms-transform: scale(1.2, 1.2);
-webkit-transform: scale(1.2, 1.2);
transition-duration: 15000ms;
transition-timing-function: cubic-bezier(0, 0, .80, .90); 
}
.tile-rd:hover .tile-primary-content h2{
opacity: 0;
}
.tile-rd:hover .tile-primary-content p{
opacity: 0;
}
/* ---- End of Responsive Design ---- */

/* ---- NO TEMPLATES ---- */
.tile-notemplates{
position: relative;
}
.tile-notemplates .tile-primary-content h6{
    color: #fff;
    font-size: 1vw;
    font-weight: 200;
    padding: 1em;
    text-shadow: 3px 1px 3px hsla(0,0%,0%,.7);
  }
.tile-notemplates .tile-primary-content h2{
    color: #fff;
    font-size: 3vw;
    font-weight: 100;
    margin-top: 1.3em;
    padding: 0.5em;
    text-align: center;
    text-shadow: 3px 1px 3px hsla(0,0%,0%,.7);
  }
.tile-notemplates .tile-primary-content p{
    font-size: 4vw;
    font-weight:100;
    margin: 0em;
    padding: 0em;
    text-align: center;
    text-shadow: 3px 1px 3px hsla(0,0%,0%,.7);
  }
.tile-notemplates .tile-primary-content{
 color: #fff;
 height: 46vh;
 width: 33.333vw;
 background: url('web-design-sketchbook.jpg');
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-repeat: no-repeat;
background-position: center; 
position: absolute;
}
.tile-notemplates .tile-secondary-content{
 color: white;
 height: 46vh;
 width: 33.333vw;
 background-color: hsla(0,0%,0%,.7);
 opacity: 0;
 position: absolute;
}
.tile-notemplates:hover .tile-secondary-content .arrow{
 background-image: url('arrow1.png');
 background-repeat: no-repeat;
 height: 17px;
 width: 21px;
 position:absolute;
 top: 90.2%;
 left: 70%;
  -webkit-animation: learnMore 250ms;
  -moz-animation: learnMore 250ms;
  -ms-animation: learnMore 250ms;
  animation: learnMore 250ms;
transition-timing-function: cubic-bezier(0, 0, .80, .90); 
}
@-webkit-keyframes learnMore {
    0%   {left: 60%; top: 90.2%;}
    100%  {left:70%; top: 90.2%;}
}
.tile-notemplates .tile-secondary-content h2{
    color: #fff;
    font-size: 1vw;
    font-weight: 200;
    padding: 1em;
}
.tile-notemplates .tile-secondary-content p{
    font-size: 2.5vw;
    font-weight: 200;
    line-height: 1.1em;
    margin: 0.5em 0 0;
    padding: 0.2em;
    text-align:center;
}
.tile-notemplates .tile-secondary-content h5{
    color: #fff;
    font-size: 1vw;
    font-weight: 200;
    margin-top: 1.3em;
    margin-left: 25em;
    padding: 0.5em;
}
.tile-notemplates:hover .tile-secondary-content{
opacity:0.8;
}
.tile-notemplates:hover .tile-primary-content{
 height: 46vh;
 width: 33.333vw;
 overflow: hidden;
transition-property: all;
transform: scale(1.2, 1.2);
-ms-transform: scale(1.2, 1.2);
-webkit-transform: scale(1.2, 1.2);
transition-duration: 15000ms;
transition-timing-function: cubic-bezier(0, 0, .80, .90); 
}
.tile-notemplates:hover .tile-primary-content h6{
opacity: 0;
}
.tile-notemplates:hover .tile-primary-content h2{
opacity: 0;
}
.tile-notemplates:hover .tile-primary-content p{
opacity: 0;
}
/* ---- End of NO TEMPLATES ---- */

/* ---- Free Consulting ---- */
.tile-freeconsulting{
position: relative;
}
.tile-freeconsulting .tile-primary-content{
 color: white;
 height: 46vh;
 width: 33.333vw;
 background-color: #00afe0;
 position: absolute;
}
.tile-freeconsulting .tile-primary-content h2{
    color: #fff;
    font-size: 1vw;
    font-weight: 200;
    margin: 1em;
    position: absolute;
  }
.tile-freeconsulting .tile-primary-content p{
    font-size: 2.8vw;
    font-weight:100;
    line-height: 1.1em;
    margin-top: 2em;
    padding: 0.2em;
  }
.tile-freeconsulting .tile-primary-content{
 color: #fff;
 height: 46vh;
 width: 33.333vw;
background-image: url('Twitter_logo_white.png');
background-repeat: no-repeat;
background-size: 50px 40px;
background-position: 85% 90%; 
position: absolute;
}
/* ---- End of Free Consulting ---- */

/* ---- End of OUR PROCESS Panel ---- */

/* ------- SERVICES Panel------- */

/* Screen Settings */
#screen3 {
}

/*{
background-image: url('tile1.jpg');
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-position: center;
color:#FF9E00;
padding: 5em;
}*/

.services h1{
color: white;
float:right;
font-size: 2em;
font-family: 'Josefin Sans', sans-serif;
text-transform: uppercase;
padding: 3em 1em;
}
/* CSS for Vertical Services Accordion */
/* This resets the margin and padding on the form. */
div form {
  margin: 0;
  position:relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
ul.vacc{
list-style: none;
}
/* This hides the radio buttons from the screen. */
.vacc input {
  position: absolute;
  opacity:0;
}
label {
  background: #663300;
  display:inline-block;
  float:left;
  font: 25px/27em 'Josefin Sans', sans-serif;
  height: 26.9em;
  opacity: 0.8;
  position: relative;
  text-align: center;
  width: 6em;
  z-index: 1;
 
  -webkit-transition: width 1s ease, background 0.5s ease;
     -moz-transition: width 1s ease, background 0.5s ease;
       -o-transition: width 1s ease, background 0.5s ease;
      -ms-transition: width 1s ease, background 0.5s ease;
          transition: width 1s ease, background 0.5s ease;
     
     -webkit-transform:rotate(0deg);  
     -moz-transform:rotate(0deg);  
     -o-transform: rotate(0deg);  
     transform: rotate(0deg);   
}

#rad2 + label {
  background: #754719;
  -webkit-transition: width 1s ease, background 0.5s ease;
     -moz-transition: width 1s ease, background 0.5s ease;
       -o-transition: width 1s ease, background 0.5s ease;
      -ms-transition: width 1s ease, background 0.5s ease;
          transition: width 1s ease, background 0.5s ease;
}
#rad3 + label {
  background: #855C33;
  -webkit-transition: width 1s ease, background 0.5s ease;
     -moz-transition: width 1s ease, background 0.5s ease;
       -o-transition: width 1s ease, background 0.5s ease;
      -ms-transition: width 1s ease, background 0.5s ease;
          transition: width 1s ease, background 0.5s ease;
}
#rad4 + label {
  background: #94704D;
  -webkit-transition: width 1s ease, background 0.5s ease;
     -moz-transition: width 1s ease, background 0.5s ease;
       -o-transition: width 1s ease, background 0.5s ease;
      -ms-transition: width 1s ease, background 0.5s ease;
          transition: width 1s ease, background 0.5s ease;
}
label:hover, #rad2 + label:hover, #rad3 + label:hover, #rad4 + label:hover {
  background: black;
  color: #fff;
  cursor: pointer;
}

/*SLIDES*/
.accslide {
  display: block;
  height: 40.3em;
  width: 0px;
  padding: 55px 0px;
  float: left;
  overflow: hidden;
  color: #333;
  background: #fff;

  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
h2.accs {
  width: 100%;
  padding-left: 10px;
}
p.accs {
  width: 100%;
  padding-left: 10px;
}
input[type="radio"]:checked ~ .accslide {
  width: 30%;
}
/* End of CSS for Vertical Services Accordion */


/* ---- End of SERVICES Panel ---- */

/* ------- PORTFOLIO Panel------- */

/* Screen Settings */
#screen4 {
	background: #CE0000;
}

/* ---- End of PORTFOLIO Panel ---- */

/* ------- QUOTE Panel------- */

/* Screen Settings */
#screen5 {
	background: #9CCF31;
}

/* ---- End of QUOTE Panel ---- */

/* ------- SUPPORT Panel------- */

/* Screen Settings */
#screen6 {
	background: #E7E7E7;
}

/* ---- End of SUPPORT Panel ---- */

/* ------- CONTACT Panel------- */

/* Screen Settings */
#screen7 {
	background: #E0E9E9;
}

/* ---- End of CONTACT Panel ---- */

/* ------- FOOTER Panel------- */

/* Screen Settings */

/* ---- End of FOOTER Panel ---- */


@media only screen and (max-width: 520px) {

	nav li {
		padding: 24px 4px;
	}

	nav li a {
		font-size: 14px;
	}

}