/* WDDS Custom Stylesheet */

/* WDDS Site Outline */

/* 
------- Table of Contents ------

I.       General CSS
II.     Home Panel CSS
            i.  Panel Content
III.      Title [Home] Panel CSS
            i.  Navigation Bar Contents
            ii. Animated Scroll Arrow
IV.      About Panel CSS
            i.   Image Title Bar
            ii.  3 Column Information
V.       Services Panel CSS
            i.   Image Title Bar
            ii.  Panel Background Image
            iii. Accordion Slider & Content

VI.      Porfolio Panel CSS
VII.     Quote Panel CSS
VIII.    Support Panel CSS
IX.      Footer

------------------------------------ 
*/

/* ------- General CSS ------- */
section {
	height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
}

body{ font-size: 14px; }

/* ------- End of General CSS ------- */

/* ------- TITLE Panel------- */

/* Screen Settings */
#homescreen {
	background-image: url('tile1.jpg');
    background-position: 0px 0px;
    background-size: cover;
}
/* End of Screen Settings */

nav {
    position: absolute;
    top:90vh;
	width: 100%;
	height: 50px;
    z-index: 200;
}
/* This class is added on scroll */
.fixed {
	position: fixed; 
	top: 0; 
	height: 50px; 
	z-index: 1;
    box-shadow: 3px 3px 3px #000;
    opacity: 0.9; 
    z-index: 200;
}
.hnav{
    background-color: #121212;
    display:inline-block;
    height:50px;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    width:100%;
    z-index: 200;
}
ul.menu{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    float: right;
    justify-content: flex-end;
}
ul.menu li a{
    color: #fff;
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
    padding: 20px 20px 10px 20px;
    line-height: 1em;
    text-decoration: none;
}
ul.menu li a:hover{
    color: #00d9ff;
    font-weight: 600;
}
div.cname {
    float:left;
}
.mobile_menu{
display:none;
}
.mm_modalnav{
 display: none;
}
.cname a{
    color: #fff;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    padding: 10px 20px 10px 20px;
    line-height: 2.7em;
    text-decoration: none;
}
.cname a:hover {
    color: #00d9ff;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    padding: 20px 20px 10px 20px;
    line-height: 2.7em;
    text-decoration: none;
}
/* ---- End of TITLE Panel ---- */

/* ------- HOME Panel------- */

/* Screen Settings */
#hscreen {
background-image: url('tile3.jpg');
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-position: center;
}

article.porfolio{
background-image: url('hometile.jpg');
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-position: center;
box-shadow: 3px 3px 3px #000;
width:100%;
font-size: 30px;
font-family: 'Josefin Sans', sans-serif;
font-style: italic;
text-transform: uppercase;
color:#fff;
padding: 2.5em;
}

/*Panel & Content*/

h1.wdds{
  font-size: 15vw;
  font-weight: 300;
  text-align: center;
  top:150px;
}

h2.wdds{
  font-size: 5vw;
  text-align: center;
  top: 300px;
}
p.wdds{
  font-size: 2.3vw;
  padding-top: 20px;
  text-align: center;
  line-height: 30px;
  top: 350px;
}

.main_title{
padding-top: 15vh;
}
/*End of Panel Slider & Content*/

/* ---- End of HOME Panel ---- */


/* ------- OUR PROCESS Panel------- */

.tilePanel{
margin-top: 55px;
}
.tileLine1{
    clear:left;
    flex-direction: column;
    float: left;
}
.tileLine2{
    clear:right;
    flex-direction: column;
    float: left;
}
.tileLine3{
    clear:right;
    flex-direction: column;
    float:right;
}
.tileLine4{
    clear: right;
    flex-direction: column;
    float:left;
}
.tileLine5{
    clear: right;
    flex-direction:column;
    float:left;
}
.tileLine6{
    clear: right;
    flex-direction:column;
    float: left;
}
.tileLine7{
    clear: right;
    flex-direction:column;
    float: right;
}
.tile{
    flex-shrink: 1;
    margin:0px; 
    padding:2px;
    height: 200px;
    width:200px;
    z-index: 1;
}
.tile:hover{
  background: black;
    box-shadow: -5px -5px 70px #000;
    position: relative;
    z-index: 100000000;
  
}
.tile h1 a{
    align-self: center;
    font-family: 'Josefin Sans', sans-serif;
    opacity: 1;
    text-decoration: none;
    text-transform: uppercase;
}
.tile h1{
  justify-content: center;
  text-align: center;
}
.tile1{
    height:52vh;
    width:23vw; 
}
.tile1 h1{
  color: white;
  justify-content: center;
  margin-top: 25vh;
  opacity: 1;
  text-align: center;
}
.tile1 h1 a{
  color: white;
  font-size: 2.7vw;
  font-weight: 800;
  text-shadow: 1px 2px 2px #000;
}
.tile2{
    height:35vh;
    width: 23vw; 
}
.tile2 h1{
  justify-content: center;
  margin-top: 15vh;
  text-align: center;
}
.tile2 h1 a{
  color: white;
  font-size: 2.7vw;
  font-weight: 800;
  text-shadow: 1px 2px 2px #000;
}
.tile3{
    height:28vh;
    width:26vw;
}
.tile3 h1{
  justify-content: center;
  margin-top: 12vh;
  text-align: center;
}
.tile3 h1 a{
  color: white;
  font-size: 2.7vw;
  font-weight: 800;
  text-shadow: 1px 2px 2px #000;
}
.tile4{
    height: 28vh;
    width:48vw;
}
.tile4 h1{
  justify-content: center;
  margin-top: 10vh;
  text-align: center;
}
.tile4 h1 a{
  color: white;
  font-size: 2.7vw;
  font-weight: 800;
  text-shadow: 1px 2px 2px #000;
}
.tile5{
    height: 19vh;
    width: 22vw;
}
.tile5 h1{
  justify-content: center;
  margin-top: 7vh;
  text-align: center;
}
.tile5 h1 a{
  color: white;
  font-size: 2.7vw;
  font-weight: 800;
  text-shadow: 1px 2px 2px #000;
}
.tile6{
    height: 38vh;
    width:22vw;
}
.tile6 h1{
  justify-content: center;
  margin-top: 16vh;
  text-align: center;
}
.tile6 h1 a{
  color: white;
  font-size: 2.7vw;
  font-weight: 800;
  text-shadow: 1px 2px 2px #000;
}
.tile7{
    height: 29vh;
    width: 51vw;
}
.tile7 h1{
  justify-content: center;
  margin-top: 12vh;
  text-align: center;
}
.tile7 h1 a{
  color: white;
  font-size: 2.7vw;
  font-weight: 800;
  text-shadow: 1px 2px 2px #000;
}
.tile8{
    height: 29vh;
    width: 29vw;
}
.tile8 h1{
  justify-content: center;
  margin-top: 12vh;
  text-align: center;
}
.tile8 h1 a{
  color: white;
  font-size: 2.7vw;
  font-weight: 800;
  text-shadow: 1px 2px 2px #000;
}
.tile9{
    height: 29vh;
    width: 22vw;
}
.tile9 h1{
  justify-content: center;
  margin-top: 12vh;
  text-align: center;
}
.tile9 h1 a{
  color: white;
  font-size: 2.7vw;
  font-weight: 800;
  text-shadow: 1px 2px 2px #000;
}
.tileLarge{  
}

.excelsior{ background:#663300; } 
.smile{ background:#7F1917; } 
.freedom{ background:#94704D; } 
.nowhere{ background-color: #855C33; }

/* ---- Tile Container CSS ---- */

.tile-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
   perspective: 1000;
}

.tile-container:hover .tilefaces,  
.tile-container.hover .tilefaces {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
	}
/* ---- Verticle Tile Container ---- */
.vertical.tile-container {
position: relative;
}

.vertical .back {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.vertical.tile-container:hover .tilefaces {
    -webkit-transform: rotateX(-180deg);
    -moz-transform: rotateX(-180deg);
    -ms-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
}

.vertical.tile-container .tilefaces {
    -webkit-transform-origin: 100% 100px;
    -moz-transform-origin: 100% 100px;
    -ms-transform-origin: 100% 100px;
    transform-origin: 100% 100px;
}

/* ---- End of Verticle Tile Container ---- */

.tile-container.one, .front.one, .back.one{
    background-image: url('environment.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    height:52vh;
    margin: 0px;
    opacity: 1;
    width:23vw; 
}
.tile-container.two, .front.two, .back.two{
    height:35vh;
    margin: 5px;
    width: 23vw; 
}
.tile-container.three, .front.three, .back.three{
    height:28vh;
    width:26vw;
    margin-left: 0.5vw;
    margin-top: 1vh;
}
.tile-container.four, front.four, .back.four{
    background-image: url('custom.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    height: 28vh;
    margin-left: 0.5vw;
    margin-top: 1vh;
    width:48vw;
}
.tile-container.five, .front.five, .back.five{
    height: 19vh;
    margin-left: 0.5vw;
    margin-top: 1.5vh;
    width: 22vw;
}
.tile-container.six, .front.six, .back.six{
    height: 38vh;
    margin-top: 1.5vh;
    margin-left: 0.5vw;
    width:22vw;
}
.tile-container.seven, .front.seven, .back.seven{
    height: 29vh;
    margin-top: 1.5vh;
    width: 51vw;
}
.tile-container.eight, .front.eight, .back.eight{
    background-image: url('social-icons.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    height: 29vh;
    margin-top: 1.5vh;
    width: 29vw;
}
.tile-container.nine, .front.nine, .back.nine{
    height: 29vh;
    margin-left: 10px;
    margin-top: 1.5vh;
    width: 22vw;
}

.tilefaces {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	-moz-transition: 0.6s;
	-moz-transform-style: preserve-3d;
    -o-transition: 0.6s;
	-o-transform-style: preserve-3d;
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.front, .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.front {
	z-index: 2;
}

.back {
	-webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

/* ---- End of OUR PROCESS Panel ---- */


/* ------- SERVICES Panel------- */

/* Screen Settings */
#screen3 {
}

/*{
background-image: url('tile1.jpg');
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-position: center;
color:#FF9E00;
padding: 5em;
}*/

.services h1{
display:none;
color: white;
float:right;
font-size: 2em;
font-family: 'Josefin Sans', sans-serif;
text-transform: uppercase;
padding: 3em 1em;
}
/* CSS for Vertical Services Accordion */
/* This resets the margin and padding on the form. */
div form {
  margin: 0;
  padding: 0;
  position:relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
ul.vacc{
list-style: none;
padding-top: 72px;
}
/* This hides the radio buttons from the screen. */
.vacc input {
  position: absolute;
  opacity:0;
}
label {
  background: #663300;
  font: 25px/4em 'Josefin Sans', sans-serif;
  height: 4em;
  opacity: 0.8;
  text-align: center;
  width: 100%;
 
  -webkit-transition: width 0.5s ease, background 0.5s ease;
     -moz-transition: width 0.5s ease, background 0.5s ease;
       -o-transition: width 0.5s ease, background 0.5s ease;
      -ms-transition: width 0.5s ease, background 0.5s ease;
          transition: width 0.5s ease, background 0.5s ease;
     
     -webkit-transform:rotate(0deg);  
     -moz-transform:rotate(0deg);  
     -o-transform: rotate(0deg);  
     transform: rotate(0deg);   
}
#rad2 + label {
  background: #754719;
  -webkit-transition: width 1s ease, background 0.5s ease;
     -moz-transition: width 1s ease, background 0.5s ease;
       -o-transition: width 1s ease, background 0.5s ease;
      -ms-transition: width 1s ease, background 0.5s ease;
          transition: width 1s ease, background 0.5s ease;
}
#rad3 + label {
  background: #855C33;
  -webkit-transition: width 1s ease, background 0.5s ease;
     -moz-transition: width 1s ease, background 0.5s ease;
       -o-transition: width 1s ease, background 0.5s ease;
      -ms-transition: width 1s ease, background 0.5s ease;
          transition: width 1s ease, background 0.5s ease;
}
#rad4 + label {
  background: #94704D;
  -webkit-transition: width 1s ease, background 0.5s ease;
     -moz-transition: width 1s ease, background 0.5s ease;
       -o-transition: width 1s ease, background 0.5s ease;
      -ms-transition: width 1s ease, background 0.5s ease;
          transition: width 1s ease, background 0.5s ease;
}
label:hover, #rad2 + label:hover, #rad3 + label:hover, #rad4 + label:hover {
  background: black;
  color: #fff;
  cursor: pointer;
}

/*SLIDES*/
.accslide {
  display: block;
  height: 0px;
  width: 0px;
  padding: 0px;
  float: left;
  overflow: hidden;
  color: #333;
  background: #fff;

  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
h2.accs {
  width: 100%;
  padding-left: 10px;
}
p.accs {
  width: 100%;
  padding-left: 10px;
}

input[type="radio"]:checked ~ .accslide {
    height: 225px;
    width: 100%;
}
/* End of CSS for Vertical Services Accordion */


/* ---- End of SERVICES Panel ---- */

/* ------- PORTFOLIO Panel------- */

/* Screen Settings */
#screen4 {
	background: #CE0000;
}

/* ---- End of PORTFOLIO Panel ---- */

/* ------- QUOTE Panel------- */

/* Screen Settings */
#screen5 {
	background: #9CCF31;
}

/* ---- End of QUOTE Panel ---- */

/* ------- SUPPORT Panel------- */

/* Screen Settings */
#screen6 {
	background: #E7E7E7;
}

/* ---- End of SUPPORT Panel ---- */

/* ------- CONTACT Panel------- */

/* Screen Settings */
#screen7 {
	background: #E0E9E9;
}

/* ---- End of CONTACT Panel ---- */

/* ------- FOOTER Panel------- */

/* Screen Settings */

/* ---- End of FOOTER Panel ---- */


@media
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (   min--moz-device-pixel-ratio: 2),
	only screen and (     -o-min-device-pixel-ratio: 2/1),
	only screen and (        min-device-pixel-ratio: 2),
	only screen and (                min-resolution: 192dpi),
	only screen and (                min-resolution: 2dppx)