html {
	background: url(mybackground.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

header {
  display: flex;
  font-family: Copperplate, Times, Sans Serif;
  font-size: 0.8rem;
  width: 97.65%;
  background: gray;
  color: white;
  position: fixed;
  letter-spacing: 1px;
  text-transform: uppercase;
  z-index: 10;
}

header > .address .nav .socialmedia{
padding: 0px 5px 0px 5px;
}

.address {
  padding: 25px 15px 10px 5px;
  font-size: 0.6rem;
  margin:0 2.3rem;
}

header nav a{
  display: inline-block;
  justify-content: center;
  padding: 15px 15px 10px 10px;
  margin: 10px 0 0;
  text-align: center;
  color: white;
}

header nav{
display: block;
margin: 0 20px 30px;
}

.socialmedia {
  padding: 25px 5px 10px 10px;
  text-align: center;
  font-size:0.5rem;
  margin: 0 2.3rem;
  color: white;
}

.socialmedia a {
  color: white;
}

.whaticando{
  display: flex;
  background: white;
	height: 450px;
	width: 860px;
	opacity: 0.70; 
  padding: 7rem;
  justify-content: center;
  z-index: -1;
}

.whaticando > h2 {
padding: 800px;
opacity: 1;
}

.services {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  z-index: -1;
}
.services > div{
	flex:1 1 auto;
    text-align:center;
    margin:7px;  /* and that, will result in a 10px gap */
	justify-content: center;
}

.branding {
background: gray;
height: 330px;
width: 330px;
opacity: 0.75; 
justify-content: center;
}

.branding > h2 {
padding: 150px 75px 150px 75px;
opacity: 1;
}

.videopro {
background: gray;
height: 330px;
width: 330px;
opacity: 0.80; 
justify-content: center;
}

.videopro > h2 {
padding: 150px 75px 150px 75px;
opacity: 1;
}

.webdesign {
background: gray;
height: 330px;
width: 330px;
opacity: 0.85; 
}

.webdesign > h2 {
padding: 150px 75px 150px 75px;
justify-content: center;
opacity: 1;
}

.whaticando4u{
  display: flex;
  padding: 7rem;
  justify-content: center;
  z-index: -1;
}

.clientele{
  display: flex;
  flex-grow: 1;
  justify-content: center;
  z-index: -1;
}

.clientele > div{
	flex:1 1 auto;
    text-align:center;
    margin:7px;  /* and that, will result in a 10px gap */
	justify-content: center;
}

.indiv {
background: gray;
height: 330px;
width: 330px;
opacity: 0.85; 
justify-content: center;
}

.indiv > h2 {
padding: 90px 75px 150px 75px;
opacity: 1;
}

.sbs {
background: gray;
height: 330px;
width: 330px;
opacity: 0.80; 
justify-content: center;
}

.sbs > h2 {
padding: 90px 75px 150px 75px;
opacity: 1;
}

.cds {
background: gray;
height: 330px;
width: 330px;
opacity: 0.75; 
justify-content: center;
}

.cds > h2 {
padding: 90px 75px 150px 75px;
opacity: 1;
}


