html { 
  background: url(mybackground.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* START NAV MENU */
nav {
  background-color:#BABABF;
  height:35px;
  opacity: 0.5; /* opacity [0-1] */
   	 		-moz-opacity: 0.5; /* opacity [0-1] */
    		-webkit-opacity: 0.5; /* opacity [0-1] */
    		-o-opacity: 0.5; /* opacity [0-1] */
    		  border-width:1px 0;
	list-style:none;
    margin: 0;
    padding: 0;
    text-align:center;
    font-style: italic;
    position: relative;
}

nav ul {
  font-family: Cambria;
  font-size: 1em;
  margin: 0;
  padding: 0;
  list-style: none;
}
 
nav ul li a {
  display: inline-block;
  text-decoration: none;
  padding: 7px 15px 3px 15px;
  background: BABABF;
  color: #FFFFFF; 
  white-space: nowrap;
  height: 30px; /* Width and height of top-level nav items */
  width: 70%;
  text-align:center;
 
}

nav ul li {
  display: inline;
  position: relative;
  margin: 0;
  float: left;
 
}
 
 
nav ul li a:hover { 
  background: #617F8A; 
}
 
nav li:hover ul {
  display: block;
  position: absolute;
  height: 30px;
}
 
nav li:hover li {
  float: none;
  font-size: 11px;
 
}
 
nav li:hover a { 
  background: #3A464F; 
  height:30px; /* Height of lower-level nav items is shorter than main level */
}
 
nav li:hover li a:hover { 
  background: #95A9B1; 
}
 
nav ul li ul li a {
    text-align:left; /* Top-level items are centered, but nested list items are left-aligned */
}
 
/* END NAV MENU */

body {
	width: 80%;
	margin: 0 auto;
	bakground: white;
	}
header {
	height: 40px;
	margin-bottom: 1em;
	}
aside {
	float: left;
	width: 25%;
}
article {
	float: right;
	width: 75%;
	background: white;
}


