html {
	background: url(mybackground.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

header {
  font-family: Copperplate, Times, Sans Serif;
  font-size: 0.8rem;
  font-style: normal;
  padding: 25px 15px 10px 15px;
  background: black;
  color: white;
  position: fixed;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 200ms ease-in-out;
  min-width: 100%;
  z-index: 10;
}

.cname {
  font-size: 1rem;
  font-style: normal;
  text-decoration: none;
  letter-spacing: 1px;
}

header nav a{
  text-decoration: none;
  color: white;
}

.socialmedia {
  font-size:0.5rem;
  padding: 25px 15px 10px 15px;
  color: white;
}

.socialmedia a {
  color: white;
}

.whaticando{
  display: flex;
  background: white;
	height: 450px;
	width: 1280px;
	opacity: 0.70; 
  padding: 7rem;
  justify-content: center;
  z-index: -1;
}

.whaticando > h2 {
padding: 1200px;
opacity: 1;
}

.services {
  display: flex;
  font-family: Copperplate, Times, Sans Serif;
  flex-grow: 1;
  justify-content: center;
  z-index: -1;
}
.services > div{
	flex:1 1 auto;
    text-align:center;
    margin:7px;  /* and that, will result in a 10px gap */
	justify-content: center;
}

.branding {
background: gray;
height: 330px;
width: 330px;
opacity: 0.75; 
justify-content: center;
}

.branding > h2 {
padding: 150px 75px 150px 75px;
opacity: 1;
}

.videopro {
background: gray;
height: 330px;
width: 330px;
opacity: 0.80; 
justify-content: center;
}

.videopro > h2 {
padding: 150px 75px 150px 75px;
opacity: 1;
}

.webdesign {
background: gray;
height: 330px;
width: 330px;
opacity: 0.85; 
}

.webdesign > h2 {
padding: 150px 75px 150px 75px;
justify-content: center;
opacity: 1;
}

.whaticando4u{
  display: flex;
  font-family: Copperplate, Times, Sans Serif;
  padding: 7rem;
  justify-content: center;
  z-index: -1;
}

.clientele{
  display: flex;
  font-family: Copperplate, Times, Sans Serif;
  flex-grow: 1;
  justify-content: center;
  z-index: -1;
}

.clientele > div{
	flex:1 1 auto;
    text-align:center;
    margin:7px;  /* and that, will result in a 10px gap */
	justify-content: center;
}

.indiv {
background: gray;
height: 330px;
width: 330px;
opacity: 0.85; 
justify-content: center;
}

.indiv > h2 {
padding: 90px 75px 150px 75px;
opacity: 1;
}

.sbs {
background: gray;
height: 330px;
width: 330px;
opacity: 0.80; 
justify-content: center;
}

.sbs > h2 {
padding: 90px 75px 150px 75px;
opacity: 1;
}

.cds {
background: gray;
height: 330px;
width: 330px;
opacity: 0.75; 
justify-content: center;
}

.cds > h2 {
padding: 90px 75px 150px 75px;
opacity: 1;
}

.footer {
  font-family: Copperplate, Times, Sans Serif;
  font-size: 0.8rem;
  font-style: normal;
  justify-content: center;
  text-align: center;
  width: 1024px;
  background: black;
  color: white;
  position: fixed;
  letter-spacing: 1px;
  text-transform: uppercase;
}


